[2019-06-27 20:54] DanGrayson commented on #1244
I would never have understood "subsingleton" without explanation, and I'm a mathematician.  And I think that the great thing about propositions is that they are now mathematical objects, so I relish being able to use the word in this new way. Similarly for proofs, which are now also mathematical objects.

[2019-06-27 20:56] martinescardo commented on #1244
Still the word "proposition" creates endless misunderstandings in this subject. Even for Coq users who are not mathematicians. This happened, for instance, in the last UniMath school, by a (clever, well established) researcher asking why we should have to prove that something is a proposition, rather than having them as a sort as in e.g Coq.

[2019-06-27 21:03] DanGrayson commented on #1244
Well, sure, there will be questions like that, but they are good questions about choices made when constructing the formalism that are easily answered.  How could they lead to "endless misunderstandings"?

[2019-06-27 21:09] martinescardo commented on #1244
Because people already have meanings for certain words that occur often in logic and mathematics in their heads, such as "proposition", which are radically different from the proposed new meanings. The same goes for "equality".

[2019-06-27 21:11] DanGrayson commented on #1244
When you said "I agree with this", what was "this"?

[2019-06-27 21:13] martinescardo commented on #1244
Using "equality" cautiously, but then identification when the identity type is used not quite like equality.

[2019-06-27 21:14] martinescardo commented on #1244
I do this for "proposition" too, with "subsingleton" when I want to emphasize that I am talking about a type that has at most one element, or that is a subtype of a singleton.

[2019-06-27 21:18] DanGrayson commented on #1244
You seem to contradict yourself.  First you said you are sticking to "subsingleton", and now you say you are using "proposition" sometimes.

[2019-06-27 21:20] martinescardo commented on #1244
You can check how I use the terminology in the lecture notes. I explain myself there when I contradict myself, usually blaming tradition. Search for "tradition" and you will see. :-)

[2019-06-27 21:31] DanGrayson commented on #1244
Tradition is a powerful force.   I think it's best to take advantage of it, not to buck it.

[2019-06-27 21:41] martinescardo commented on #1244
Tradition says that

   * Propositions are syntactical or meta-mathematical statements (logic).
   * Assertions (philosophy) which may or may not be true.
   * Types (Curry Howard)
   * Some types (Univalent mathematics)
   * subobjects of the terminal object (1-topos theory), collected in the subobject classifier.
   * Elements of a certain type (Coq)

How can I guarantee that when I am speaking,

[2019-06-27 21:47] martinescardo commented on #1244
The case of equality is not quite the same. In univalent mathematics we expand our universe of discourse to go beyond sets. For sets, equality behaves in the same way. It is only for the new things that equality behaves in a different way, and this is precisely what defines the new things. So one is not chaning the notion of equality. One is generalizing it, without distorting it for the old, good

[2019-06-27 23:01] benediktahrens commented on #1244
On 27/06/2019 19:38, Daniel R. Grayson wrote:

In Vladimir's intended semantics - the simplicial set model - identities
translate to paths, not to equalities. That's why he chose the name
"paths" for this type.

[2019-06-28 22:03] maggesi commented on #1244
I favor Benedikt's proposal.
For better or worse, the term "path" is consistently used in the library (especially in the Foundations).

In my opinion, consistency has a high value (even when it is not entirely satisfying from a more high-level or philosophical point of view), because it helps people to learn and use the library.

While we are there, I would suggest avoiding the use of camel case f

[2019-06-28 23:14] DanGrayson commented on #1244
About camel case: uniformity is good, but it's an open question what the uniform convention should be, as the discussion in https://github.com/UniMath/UniMath/issues/687 continues.

[2019-06-29 11:39] DanGrayson commented on #1244
Okay, I'm convinced, will do.

[2019-06-30 14:36] #1244 closed

[2019-07-10 14:28] DanGrayson opened #1249 "Kleisli"
There are two definitions of this term:
[code]

I'd like to refer to the formalized form of "monad in Kleisli form" by name in VV's paper on C-systems from a monad, so it would be good to have just the one that looks like this under that name:

<img width="833" alt="Screen Shot 2019-07-10 at 10 27 54 AM" src="https://user-images.githubusercontent.com/700228/60977397-69628280-a2fd-11e9-92ba-7a95d95

[2019-07-10 15:27] DanGrayson commented on #1249
Actually, shouldn't it be something like "Kleisli_monad" instead of "Kleisli"?  That would be more descriptive.

[2019-07-10 16:41] DanGrayson commented on #1249
Actually, those two definitions of Kleisli are identical.  The identity would be clearer to casual observers after this change:
[code]

[2019-07-10 16:41] DanGrayson commented on #1249
Is there a good reason to have two identical definitions of the same identifier in different files?

[2019-07-11 07:47] rmatthes commented on #1249
When I worked on the Monads directory last year, I was confronted with several competing implementations by several groups of authors. I tried to preserve the individual contributions as proper files and did not set out to do global changes, in particular no name changes. However, Kleisli.Kleisli became just an instance of the relative monads - with the aim to reduce code duplication.

Still, is t

[2019-07-12 12:22] DanGrayson commented on #1249
Thanks for the feedback, I'll prepare a pull request.

[2019-07-13 17:37] #1249 closed

[2019-07-15 11:03] benediktahrens opened #1253 "Same notation ∃! x, P used for two different things"
see https://github.com/UniMath/UniMath/pull/1252#issuecomment-511357530

I believe this is a bug.

[2019-07-15 11:15] DanGrayson commented on #1253
It would make sense to put the hProp definition into the scope "logic".  That's what we do with the two notations for "¬".

[2019-07-15 11:16] DanGrayson commented on #1253
But is it really a bug?  Since there is a coercion from hProp to Type, how could it ever cause a problem?

[2019-07-15 11:21] benediktahrens commented on #1253
On 15/07/2019 12:16, Daniel R. Grayson wrote:

It is is problem when you expect to get the "stronger" thing, but get
the weaker one.

But even the other way round it can cause problems, since unification
works less well when working with an hProp that one projects out of via
the coercion.

[2019-07-15 11:54] DanGrayson commented on #1253
Well, anyway, it would be good for the user to have control, so I'll put it into the scope "logic".

[2019-07-15 13:41] #1253 closed

[2019-07-22 21:31] benediktahrens opened #1261 "Travis out of memory when compiling CategoryTheory/Bicategories/DisplayedBicats/Fibration/Fibration2"
Travis currently fails on master with
[code]
On my machine, the file compiles fine.

[2019-07-22 23:41] DanGrayson commented on #1261
Can you point to the test result on master?

[2019-07-22 23:49] DanGrayson commented on #1261
Probably the only way to debug this at home is under Linux, since Mac OS X has no way of limiting memory to processes.

[2019-07-22 23:52] DanGrayson commented on #1261
Pull request #1258 was merged, even though travis didn't pass it.

[2019-07-23 00:17] DanGrayson commented on #1261
I have an Ubuntu machine here, so if you don't I could try to debug it.

[2019-07-23 10:52] benediktahrens commented on #1261
On 23/07/2019 00:52, Daniel R. Grayson wrote:

The failure is due to a limitation of Travis, not due to the code of the PR.

[2019-07-23 11:30] DanGrayson commented on #1261
That may be, but we depend solely on travis for checking pull requests, so pull requests have to pass the test before being accepted.

[2019-07-23 11:33] benediktahrens commented on #1261
I presume the culprit is `discrete_fiber_data_laws_lassociator_lassociator`, with high memory use at `Qed.` time.
The easy fix would be to cut the proof in smaller pieces. This would be easy, since this is a proof of an equality, were it not for the `cbn.` at the beginning of the proof, which yields an unreadably large goal.

Any other ideas?

[2019-07-23 11:35] DanGrayson commented on #1261
I don't have any ideas at all.  How do you know memory use is high at Qed time for that particular result?

[2019-07-23 11:41] benediktahrens commented on #1261
On 23/07/2019 12:35, Daniel R. Grayson wrote:

Looking at `htop` when stepping through the file shows a peak in memory
usage when doing the `Qed.`, and again when closing the section at the
very end of the file.

Note that Travis has just succeeded compiling current master:
https://travis-ci.org/UniMath/UniMath/builds/562530181?utm_source=github_status&utm_medium=notification

This shows that it i

[2019-07-23 12:01] DanGrayson commented on #1261
I wonder what's making it non-deterministic.  That's bad.

[2019-07-23 12:32] nmvdw commented on #1261
It would be good to see whether the error can be replicated. Both pull requests were submitted around the time GitHub had problems yesterday (https://www.githubstatus.com/incidents/8x69vj1xyp9v), I think. The other one later that dayhad no problems.

[2019-07-23 18:31] DanGrayson commented on #1261
I'll take a look at it under Ubuntu 19.04.

[2019-07-23 18:47] benediktahrens commented on #1261
On 23/07/2019 19:31, Daniel R. Grayson wrote:

Great, thanks!

[2019-07-24 13:36] benediktahrens opened #1265 "Difficulty getting a complicated equivalence to compute"
I am currently trying to get a long composition of equivalences to compute.
The equivalence is that constructed in https://github.com/UniMath/TypeTheory/blob/master/TypeTheory/ALV1/CwF_Defs_Equiv.v.

When applying this equivalence, and chaining it with some projection, this should give the same as projecting out of the input to the equivalence. However, that currently fails.

I am thus investigati

[2019-07-24 13:52] DanGrayson commented on #1265
Why is relying on eta for pairs a problem?

[2019-07-24 13:54] DanGrayson commented on #1265
Why do you need the long composition to compute?  If you know the answer is a map f and can prove the answer is equal to the composition, then the map f is an equivalence, too.

[2019-07-24 13:54] benediktahrens commented on #1265
It is completely unnecessary here.

The construction becomes much smaller without destructing the pairs, since the proofs of the equalities do not need destructing the pairs when the functions are defined without destructing the pairs.

[2019-07-24 13:56] benediktahrens commented on #1265
In order to do this construction:
https://github.com/fizruk/TypeTheory/blob/ALV2-CwF_Cat_Equiv/TypeTheory/ALV2/CwF_Cat_Iso.v

[2019-07-24 14:31] DanGrayson commented on #1265
I'd be happy to rewrite the proofs of `weqtotal2dirprodassoc` and its neighbors.  They don't look very good, anyway.

[2019-07-24 14:37] benediktahrens commented on #1265
On 24/07/2019 15:31, Daniel R. Grayson wrote:

I filed a PR here for these proofs:

https://github.com/UniMath/UniMath/pull/1266

I am not sure that this will solve the problem I am experiencing, but I
think that this PR would be an improvement anyway.

My next idea is to find a more direct construction of weqfibtototal.

[2019-07-24 18:03] DanGrayson commented on #1261
The file `Fibration2.v` needs 3920000K to compile under Ubuntu 19.04, so it's no wonder it can die under travis.

Perhaps the indeterminacy results from the demands of other processes running simultaneously.  If so, we could probably restore determinism by setting our own memory limit for the coqc process, somewhat smaller than the memory naturally available.  That seems desirable.  It would also

[2019-07-24 19:27] DanGrayson commented on #1261
By the way, for Coq to use time and memory at the end of a section seems to be something easily avoidable by the designers of Coq.

[2019-07-24 19:53] DanGrayson commented on #1261
I'll see how much memory can be saved by eliminating the use of `Section`.

[2019-07-24 20:01] DanGrayson commented on #1261
I've just determined that `Fibration2.v` is the worst memory user, by far.  If it weren't for it, we could compile with 3000000K or less.

[2019-07-24 20:16] DanGrayson commented on #1261
Well, that's sad: removing the use of `Section` causes it to use more memory.

[2019-07-24 20:46] nmvdw commented on #1261
I have an idea, which might help to make this proof more efficient. I will try to work it out next week to see whether it helps.

[2019-07-24 21:00] DanGrayson commented on #1261
Good, have a go at it.  I tried putting the three definitions into separate files, but things just got worse (?).  I'm currently out of ideas.

[2019-07-25 19:18] DanGrayson commented on #1261
Avoiding the use of `cbn` would probably help a lot.

[2019-07-25 21:25] DanGrayson commented on #1261
If, when single stepping through the proof in ProofGeneral, the current goal would always fit on the screen and be readable and understandable, that would be great advantage.

[2019-07-31 19:27] nmvdw commented on #1261
This or next week, @maggesi and I will do a pull request where this problem is solved.

[2019-07-31 20:52] DanGrayson commented on #1261
That would be great!

[2019-08-05 21:21] DanGrayson opened #1274 "compiling under debian 10"
I can't figure out how to compile under Debian 10 with BUILD_COQIDE=yes any longer.  The library `liblablgtk-extras-ocaml-dev`, mentioned in the install file, is no longer there.  Installing the libraries `liblablgtk2-ocaml-dev liblablgtk2-ocaml liblablgtk2-gl-ocaml-dev liblablgtk2-gl-ocaml` doesn't seem to help.  Upgrading sub/coq to the latest commit on the master branch requires lablgtk3 now, b

[2019-08-11 17:22] benediktahrens opened #1276 "Create new package "BicategoryTheory""
Travis cannot compile UniMath/TypeTheory any more:

https://travis-ci.org/UniMath/TypeTheory/builds/569739915?utm_source=github_status&utm_medium=notification

One of the reasons is the growth of the material on bicategories, which makes CategoryTheory long to compile.

I suggested before to split out Bicategories into a separate package (which is not required for UniMath/TypeTheory). I herewith s

[2019-08-11 17:34] DanGrayson commented on #1276
Sounds good to me.  Let's call it "BicategoryTheory".

[2019-08-12 15:58] benediktahrens commented on #1276
@maggesi : Could you take care of this?

[2019-08-15 19:44] maggesi commented on #1276
Yes, I will do it.

[2019-08-16 20:49] DanGrayson opened #1279 "a warning"
[code]

[2019-08-16 20:50] DanGrayson commented on #1279
Maybe we should change this warning to an error message.

[2019-08-16 20:51] nmvdw commented on #1279
If you want, we can remove this coercion. We kept it in, because we didn't have problems with it.

[2019-08-16 21:15] DanGrayson commented on #1279
Yes, let's get rid of it.

Doesn't the warning imply that the coercion doesn't "work"?

[2019-08-17 12:32] nmvdw commented on #1279
Upon further inspection, we didn't need that particular coercion. Just removing it, didn't give any errors. In addition, it seems that it doesn't work and that it doesn't get invoked:
[code]

Hence, it is better to remove it.

[2019-08-19 20:52] DanGrayson opened #1281 "installPackage tolerance for errors"
After 10 or 20 example failures, `installPackage` should give up.  One reason is that core dump files may be created, and they are large.

[2019-08-19 20:52] DanGrayson commented on #1281
oops, wrong repository!

[2019-08-19 20:52] #1281 closed

[2019-10-10 09:30] benediktahrens opened #1290 "CoqIDE 8.10 requires Gtk3"
[code]
Requires update to
- Travis configuration file
- Installation instructions

[2019-10-10 16:19] DanGrayson commented on #1290
I've just spent 2 hours trying to figure this out without success.  Probably someone who knows the details of how to use "opam" could figure it out.  Maybe we should just not bother to support coqide.

[2019-10-10 16:47] DanGrayson commented on #1290
The Mac OS X user could just use brew to install Coq and CoqIDE, currently at version 8.10.0.  Under the latest Ubuntu, which is at version 19, coq and coqide are available at version 8.6.

[2019-10-10 17:15] maggesi commented on #1290
Why not use the binary codes distributed by the Coq team directly?

It would save time during testing with Travis.

Also, the use of submodule in git is sometimes tricky, and people get easily confused when they upgrade an existing installation.

That said, I don't know anyone using CoqIde.

[2019-10-10 17:26] DanGrayson commented on #1290
The binary coq releases at https://github.com/coq/coq/releases/tag/V8.10.0 don't include Ubuntu 16.04 as a target.  (That's what travis runs under.)

[2019-10-10 17:46] DanGrayson commented on #1290
Meanwhile, I've figured out how to build it on Mac OS X.

[2019-10-11 13:35] DanGrayson commented on #1290
... and under Ubuntu.

[2019-10-11 15:15] langston-barrett commented on #1290
Travis CI also supports Ubuntu 18.04: https://docs.travis-ci.com/user/reference/bionic/

I agree with @maggesi, since we don't use a modified version of Coq anymore it makes sense just to use the pre-built binaries. I don't know of another large Coq project that includes Coq itself in its build system.

[2019-10-11 15:51] DanGrayson commented on #1290
It makes sense to keep coq as a submodule so we know exactly what coq our target is when developing proofs, and it will help immensely if we are using a new feature or bug fix.   Also, it prevents us having to deal with bug reports that come from users using various versions of coq.  Moreover, we may return to using a modified version of coq.

[2019-10-11 18:46] DanGrayson commented on #1290
As an example, the coq that comes with Ubuntu 19.04 is back at version 8.6 still, from 2 years ago.

[2019-10-11 21:49] DanGrayson commented on #1290
And now I've learned how to make a new docker container and set up opam in it so UniMath will build both on the master branch and with v8.10 of coq.  Here's my current recipe:
[code]

[2019-10-11 23:44] DanGrayson commented on #1290
... and here it is: https://cloud.docker.com/repository/docker/danielgrayson/unimath

[2019-10-15 15:40] benediktahrens opened #1292 "Coq 8.10: Warnings about scope being declared implicitly"
After upgrading to Coq 8.10, we have a number of warnings like this:
[code]
We should get rid of these.

[2019-10-15 15:42] benediktahrens commented on #1290
Done, closing.

Thanks a lot, @DanGrayson !

[2019-10-15 15:43] DanGrayson commented on #1292
I've made the necessary changes and submit them.

[2019-10-15 15:44] #1290 closed

[2019-10-15 17:06] DanGrayson commented on #1290
@palmskog --- we've started using a docker image I just created, so probably you can safely delete the one you created for us a few years ago.  Thanks for all the help!

[2019-10-16 14:07] #1292 closed

[2019-10-18 10:24] nyraghu opened #1296 "TAGS file empty"
I am on commit 072045cded.  When I try to make the tags for the project, I get an empty file.

[code]
The file TAGS looks like this (just file names, no identifiers):

[code]

[2019-10-18 13:46] DanGrayson commented on #1296
I wonder if there's some difference between etags 27.0.50 and etags 26.3.  It doesn't come from a stable release of emacs, so perhaps the first thing to try is the older version.

Also, make sure you have no local changes to the Makefile: your TAGS file has the files listed in reverse order!  Are the files listed in reverse order on the command line now?  `make VERBOSE=1`

[2019-10-18 15:56] nyraghu commented on #1296
I'll try to find if the Emacs version is the problem.  About the other points, no local changes, and yes the tags file has the files in the reverse order with respect to the etags command.

[code]

[2019-10-19 09:25] nyraghu commented on #1296
As you said, it seems to be a problem with the Emacs version.  The tags table is as expected when I try it with etags from Emacs 26.3.

[code]

[2019-10-20 01:45] nyraghu commented on #1296
Commit https://github.com/emacs-mirror/emacs/commit/d904cc83f3036db seems to be relevant, as well as this quote [from the emacs-devel mailing list](https://lists.gnu.org/archive/html/emacs-devel/2018-07/msg00735.html)  discussion of that change:

Anyway I'll try to find regexps which work for my version of etags.

[2019-12-02 06:44] #1296 closed

[2019-12-03 10:49] JuhoKupiainen opened #1306 "How does the Google group work?"
It says that I don't have permission to view the group. How does the mailing list work? Do I just send an email? Should I add my email to the message body? What I wanted to say in the group was that for a project like this it could be really useful to have a virtual machine (like docker or something) that has everything installed on it and working.

[2019-12-04 15:21] DanGrayson commented on #1306
I guess you're referring to this group: https://groups.google.com/forum/#!forum/univalent-mathematics -- it seems to be "shared privately", whereas other groups are "shared publicly".  I suppose that means only members get to see it.  Benedikt, should we change that?

About a docker machine, try this one: https://hub.docker.com/repository/docker/danielgrayson/unimath , and let us know how close it

[2019-12-04 19:25] benediktahrens commented on #1306
On 04/12/2019 16:21, Daniel R. Grayson wrote:

Yes, it was unintentionally set to "shared privately". I have now
changed that setting, and the group should be visible publicly.

[2020-04-13 17:53] fizruk opened #1315 "INSTALL_OPAM.md should be updated to include info about OCaml versions"
I am currently installing UniMath on a new macOS system from scratch, using instructions from `INSTALL_OPAM.md`. In addition to things mentioned in the docs I had to install a couple of packages with Homebrew:

[code]

Now I am trying to `make` UniMath, but am getting the following error:

[code]

According to a message found [in the Gitter channel for Coq](https://gitter.im/coq/coq?at=5e7db285102

[2020-04-13 18:03] DanGrayson commented on #1315
I'll take a look at this.

[2020-04-13 18:39] DanGrayson commented on #1315
When I install gtksourceview3, mentioned in INSTALL_OPAM.md, brew automatically installs pkg-config:
[code]
So I wonder why you had to install it.

[2020-04-14 00:18] DanGrayson commented on #1315
I started from scratch, but with opamroot in a private location, so it has to recompile everything, and I don't even get as far as you do: the opam install step fails while trying to compile ocamlfind:
[code]

[2020-04-15 17:33] DanGrayson opened #1316 "algebraic geometry"
It would be good to start formalizing classical algebraic geometry, starting with the Zariski topology on Spec R and its sheaf of rings.  Kevin Buzzard mentioned this in a recent talk online.

[2020-04-24 15:55] co-dan commented on #1276
This issue is fixed already>

[2020-04-24 16:26] benediktahrens commented on #1276
@co-dan : yes, it is fixed, thanks for notifying me. Closing.

[2020-04-24 16:26] #1276 closed

[2020-04-27 12:45] DanGrayson opened #1322 "a warning from grep about missing file"
... results from the line in `Makefile`:
[code]
, which is run before the file even exists.  Think of a better way to figure out what files
contain the dependencies.  Or start assuming Coq is more modern.

[2020-05-15 07:05] fizruk commented on #1315
Interesting, although I cannot really understand what is actually breaking.

Should I submit a PR with a suggestion in `INSTALL_OPAM.md` to use `4.07.1+flambda`, as this did work well on my machine?

[2020-05-15 16:07] DanGrayson commented on #1315
Thanks for getting back to me.  That gitter conversation has one remark that ocaml 4.10 does not work with coq but ocaml 4.9 does.  Would that work for you?  Let me try that at my end, too.
(I've been distracted with various other things and am currently attending a conference...)

[2020-05-21 01:06] #1315 closed

[2020-06-12 12:48] DanGrayson opened #1324 "github actions instead of travis"
We've just started using "github actions" for Macaulay2, see our first result here: https://github.com/Macaulay2/M2/actions/runs/132744336 -- much more CPU time is provided than with travis, so we may want to switch and stop using a docker image, which adds a complication.

[2020-06-12 12:51] DanGrayson commented on #1324
"GitHub runs jobs in parallel, by default, up to a limit of 20 for a free account. (Note that there is further limit of 5 for macOS jobs.) Each job can run for up to 6 hours, and the workflow itself is limited to 72. Details [here](https://help.github.com/en/actions/getting-started-with-github-actions/about-github-actions#usage-limits)."

[2020-06-16 00:28] benediktahrens commented on #1324
That sounds good! If I understand correctly, the action is also configured via a .yml file that is part of the repository, and the file format is similar to that for travis?

If UniMath/UniMath transitions to a new CI, it would make sense to transition also UniMath/TypeTheory and UniMath/largecatmodules.

[2020-06-16 00:47] DanGrayson commented on #1324
Yes, here's our action file now: https://github.com/Macaulay2/M2/blob/master/.github/workflows/test_build.yml

[2020-06-17 20:31] DanGrayson opened #1325 "package DecomposableSparseSystems"
The program phcpack isn't installed on every user's system, so detect its presence and enable re-running the examples and running the tests conditionally.  This involves the use of the option `OptionalComponentsPresent` to `newPackage`.  Three packages have started using this option already.

Meanwhile, I've modified the package (currently just on the branch `development`) to disable running the t

[2020-06-17 20:32] DanGrayson commented on #1325
oops, wrong repository, closing.

[2020-06-17 20:32] #1325 closed

[2020-06-23 20:53] benediktahrens commented on #1324
When making the switch, we could also rename the `master` branch: https://www.theregister.com/2020/06/15/github_replaces_master_with_main/
I would suggest `trunk` instead of `main`.

[2020-06-23 22:29] DanGrayson commented on #1324
It could cause confusion when people do "git pull", and it no longer works.

[2020-11-18 17:08] benediktahrens opened #1333 "How to run UniMath on VSCode"
VSCode seems to be emerging as the code editor of the future. It would be good to provide configuration files that make UniMath work with VSCode, similiar to how we provide emacs configuration.

[2021-01-12 18:58] benediktahrens opened #1340 "Update to Coq 8.15"
Coq 8.13 is out: https://github.com/coq/coq/releases/tag/V8.13.0

Compilation of Coq 8.13 requires libzarith in version at least 1.10. On Debian stable, I have libzarith-ocaml-dev/stable,stable 1.7-1. Hence I cannot currently test the upgrade to Coq 8.13 on UniMath.

[2021-01-12 21:40] DanGrayson commented on #1340
I wonder whether you can get it through OPAM.

[2021-01-12 21:42] DanGrayson commented on #1340
PS: Ubuntu 20.10 offers 1.9.1-1.  Better, but not good enough.

[2021-04-05 14:36] peterlefanulumsdaine commented on #1324
Just for reference, here’s the issue thread from [the HoTT library](https://github.com/HoTT/HoTT) for its migration from Travis to Github Actions: https://github.com/HoTT/HoTT/issues/1247

[2021-04-10 17:54] peterlefanulumsdaine opened #1347 "Pruning commented-out code in library?"
Looking through the library during the refactorings I’ve been doing, I’ve ended up coming across quite a few sections of code that have been commented out and left to rot; for example, the 40 lines beginning here: https://github.com/UniMath/UniMath/blob/8065a80010b3637d5850c8ea2731110299ea1c6b/UniMath/CategoryTheory/limits/terminal.v#L123-L130

Commenting out code can often be useful in the short-

[2021-04-10 20:12] benediktahrens commented on #1347
The guidelines that you suggest sound very good to me; classifying a piece of commented-out code according to them might not be straightforward.

NB: Recovering deleted code from a repository seems to be to require a better memory than I have (not sure about you!), so this seems unrealistic to me in practice. I would only delete stuff if I were sure never to be interested in it again.

[2021-04-10 21:51] peterlefanulumsdaine commented on #1347
Absolutely, agreed :-)  I wasn’t meaning to suggest them as instructions — more just to establish guidelines that it’s OK to use our own judgement within.

Again, definitely agreed.  Discovering code that’s still live within the library is hard enough already!  Bringing the code up to date to compile is definitely a better option when possible, if the code is at all useful.

[2021-04-12 21:28] DanGrayson commented on #1347
I agree with the points that have been made.

[2021-05-01 16:01] benediktahrens commented on #279
I would like to consider this issue again, and am thus reopening it.

[2021-05-02 10:59] nmvdw commented on #279
I think it would be convenient if it could be proven by reflexivity, but that would mainly be beneficial if more complicated expressions are considered.

However, it might take some effort to make this change. The reason why it the inverses do not always compute nicely, is because of how `is_iso f` is defined. It says that precomposition with `f` is an equivalence, and then one can compute the inv

[2021-05-03 19:43] benediktahrens commented on #279
@nmvdw : i agree entirely with your analysis. However, there is a reason why `is_iso` was preferred over `is_z_iso`: the former is a proposition even when the hom-types are not sets.

I am now not sure that the lack of computation is a price worth paying for the added generality. I am not aware of any interesting results about precategories.

@peterlefanulumsdaine : do you have an opinion?

[2021-05-03 21:15] nmvdw commented on #279
What about using a version in which the inverse is given together with a coherency similar to the one in half-adjoint equivalences? If the hom-types are sets, then those coherencies would be trivial, so it would not be a burden in those cases.

[2021-05-03 22:45] peterlefanulumsdaine commented on #279
@benediktahrens: I agree — I don’t think “precategories” have turned out to be a very important level of generality.  I’d support a change, so that the default definition used would be (what’s currently called) `is_z_iso`.

Here are several possible outlines of fixes.  In all of them, I assume that the current `is_iso` gets renamed to something more descriptive (e.g. `is_compweq_iso`).  Then:

1.

[2021-05-04 17:51] benediktahrens commented on #279
@peterlefanulumsdaine : I agree with your analysis, and option (1) sounds most appealing to me. Thanks to @nmvdw for this suggestion.

[2021-05-06 10:29] rmatthes commented on #279
If I understand you well, you want to replay the definition [https://github.com/UniMath/UniMath/blob/master/UniMath/MoreFoundations/Equivalences.v#L17](https://github.com/UniMath/UniMath/blob/master/UniMath/MoreFoundations/Equivalences.v#L17) with morphisms in place of functions. By the way, is there a reason why the notion "half adjoint equivalence" is nowhere mentioned in the UniMath library (ne

[2021-05-06 12:52] DanGrayson commented on #279
The file `MoreFoundations/Equivalences.v` presents them.  Here is the definition:
[code]

I called them "equivalences".

[2021-05-06 13:40] rmatthes commented on #279
And would you think of a definition of isos in a category like this? [https://github.com/rmatthes/UniMath/blob/adjequivforisoincats/UniMath/CategoryTheory/Core/Isos.v#L377](https://github.com/rmatthes/UniMath/blob/adjequivforisoincats/UniMath/CategoryTheory/Core/Isos.v#L377):
`Definition is_hainverse_in_precat {C : precategory} {a b : C} (f : a --> b) (g : b --> a) :=
  ∑ (H1 : f · g = identity a)

[2021-05-06 13:51] DanGrayson commented on #279
It looks interesting to me and seems worthwhile trying out.

[2021-05-06 17:28] rmatthes commented on #279
I now think that my tentative definition is too bicategorical: when trying to find isomorphisms, one has to assume that the precategory forms a bicategory where the two-cells are given by paths and the usual operations there.

[2021-05-07 09:52] peterlefanulumsdaine commented on #279
I guess if we’re aiming for route (1) — refactoring `is_iso` as some different coherent definition in precats that makes the computation better — then before any refactoring, we should prove the chosen definition really is an hprop.  It’s not clear to me whether “is half-adjoint equivalence” in an arbitrary precategory will be an hprop — I guess this is what @rmatthes had in mind as the definition

[2021-05-07 10:18] benediktahrens commented on #279
@peterlefanulumsdaine : I agree with your plan. I have not checked if any alternative definition of `is_iso` is a proposition in precategories.

[2021-05-21 13:48] DanGrayson opened #1349 "Move some files"
Okay, we can discuss it later.  Or maybe I'll just do it.

Maybe Dcpo.v should be moved, too.  By the way, "Dcpo" is a horrible name for a file.

Thanks!

Benedikt, merging this is okay with me.

_Originally posted by @DanGrayson in https://github.com/UniMath/UniMath/issues/1348#issuecomment-845963056_

[2021-05-28 15:32] benediktahrens commented on #1324
FYI:

1. There is a documentation page at https://docs.github.com/en/actions/learn-github-actions/migrating-from-travis-ci-to-github-actions explaining some of the differences between travis and github actions.
2. We will need to switch from travis-ci.org to travis-ci.com if we want to continue using travis, see https://blog.travis-ci.com/2021-05-07-orgshutdown.

@DanGrayson : what do you think, i

[2021-05-28 16:03] benediktahrens commented on #1324
Update: I migrated the repos from travis-ci.org to travis-ci.com, but have not checked if that has worked - we'll see soon enough, I guess.

[2021-05-28 16:07] wspk opened #1351 "Windows Setup"
I helped someone with a minimal setup running UniMath on Windows inside VSCode, and wanted to quickly write down what worked for me. OCaml, Coq, and Emacs all run natively on Windows, so if you make it past the "make" step in Cygwin, everything should work one way or another from there.

This process was mostly trial an error, and far from perfect. In particular, you should only need one coq insta

[2021-05-28 16:39] benediktahrens commented on #1351
@wspk : Thanks a lot for reporting your success here!

Would you be willing to file a PR, possibly putting this description in a file `INSTALL_WIN.md` and linking to it from `INSTALL.md`?

[2021-05-28 18:23] DanGrayson commented on #1324
Yes, I think it would be good to switch to github actions.  Then we could probably have just one build, as the time limit is more generous.  And maybe we could drop the docker image, since we'd have time to build coq.

[2021-06-01 00:26] wspk commented on #1351
Unfortunately it's not my system, so I can't really give it due diligence, and I don't necessarily plan to maintain it. My main hope is that this will be a useful proof-of-concept for someone in the future. Good luck.

[2021-06-01 14:31] benediktahrens commented on #1351
@wspk : Thanks a lot for your response. Do you give permission for your text to be copied into the repository, and distributed under MIT license?

[2021-06-01 14:39] wspk commented on #1351
Yes! You are welcome to use and modify it as you see fit.

[2021-06-05 18:56] benediktahrens opened #1355 "Travis-specific check fails in Github action"
We have the following Travis-specific stuff in `Makefile`, which is also checked (and fails) in the Github Action:
[code]

[2021-06-05 18:58] benediktahrens commented on #1355
I think this code is only relevant when we check on a per-package basis. I suggest to remove the target `check-travis` from the `sanity-checks` target.

[2021-06-05 19:41] DanGrayson commented on #1355
Done in commit daec56a21d31a677d839f746fa642f9b3ac42354

[2021-06-05 19:41] #1355 closed

[2021-06-10 17:04] benediktahrens commented on #1351
I am closing this issue, since the instructions have now been integrated into the repository. Thanks again, @wspk .

[2021-06-10 17:04] #1351 closed

[2021-06-10 17:12] benediktahrens opened #1360 "Overhauling installation instructions"
The installation instructions seem more complicated than they should be.

Specifically, on MacOS,
- it has been much easier in recent experience to install a precompiled Coq;
- people seem to prefer VSCode over Emacs.

I would thus like those of you who use MacOS (@DanGrayson , @peterlefanulumsdaine , @maggesi ) to consider changing the manual for MacOS.

I would also like to suggest decoupling th

[2021-06-10 17:22] paigenorth opened #1361 "Editing COQBIN variable in Makefile doesn't seem to work correctly"
I want to point to a different installation of Coq in the Makefile. I've edited the relevant part of the Makefile to the following:

[code]

(I changed the value of `BUILD_COQ` from `yes` to `no` and changed the value of `COQBIN` from empty to the path above.) When I run `make`, it complains that there's no `COQC` etc. But when I added that path above to my path variable, `make` runs fine. Is the

[2021-06-10 20:49] benediktahrens commented on #1360
- One reason for treating MacOS and Linux differently is that Linux distribs come with a predefined way of obtaining ocaml, whereas MacOS does not.
- There are no reasons for UniMath to use its own Coq.

Reason for my initiating this discussion was a struggle today I witnessed where a MacOS user wanted to install UniMath, but `brew` gave them a version of ocaml that was too fresh for Coq 8.12.2 (w

[2021-06-10 22:19] peterlefanulumsdaine commented on #1360
OK, I’ve made a suggested PR for this issue, #1362 .  I hope it looks OK to you!  I’ve stuck with the existing approach — `brew` is very nearly as canonical as package managers on other systems, and addressing the OCaml version issue is an easy one-liner. (And the issue isn’t Mac-specific — it’ll occur on other platforms if they bump their default OCaml versions before we bump our Coq.)

Regarding

[2021-06-11 11:38] DanGrayson commented on #1361
Fixed in commit aec82b8425c41d3e5aaf70e18b0713e3f8e17df7

[2021-06-11 11:38] #1361 closed

[2021-06-11 12:11] DanGrayson commented on #1360
Installation on the various OS's has elements in common, so it might be best to stick to one installation README file.

[2021-06-16 16:12] DanGrayson opened #1366 "warning messages to eliminate"
[code]

[2021-08-04 10:05] benediktahrens opened #1374 "Making a more beautiful entry page to UniMath"
Github allows one to create automatically, using Jekyll, a website from the README.md.
For example, see https://unimath.github.io/Schools/, created from https://github.com/UniMath/Schools#readme.

I would like to set this up for UniMath as well, but there is currently a problem when building the website:
[code]
(Visible from https://github.com/UniMath/UniMath/settings/pages)

The problem is that t

[2021-08-04 14:38] DanGrayson commented on #1374
I'd be happy to help look at it.   Shall I modify it?  I could even move the second brace to the next line.

[2021-08-04 15:05] benediktahrens commented on #1374
Awesome, we now have a more readable entry page at http://unimath.github.io/UniMath/. I will point to this page in the future when pointing people to UniMath.

Closing this issue.

[2021-08-04 15:08] DanGrayson commented on #1374
It looks great, thank you.

Should I redirect "unimath.org" to point there?

[2021-08-04 15:10] benediktahrens commented on #1374
Good idea!

[2021-08-04 15:22] DanGrayson commented on #1374
Okay, I've done it -- it will take a while to take effect, though.  Maybe if you try , it will work for you.

[2021-08-05 08:27] benediktahrens commented on #1374
It works - thanks a lot!

[2021-08-05 13:45] DanGrayson commented on #1374
Hmm, it doesn't work for me yet.  The result must be cached somewhere ...

[2021-08-05 15:38] maggesi commented on #1374
Perhaps you should add the unimath.org in the About section (click on the gear near the title About on the main page, there you can find a section for webpage).

[2021-08-05 16:00] DanGrayson commented on #1374
Okay, done, thanks for the suggestion.

[2021-09-06 15:58] benediktahrens opened #1386 "Move `omega_cocontConstCoprodFunctor` to more suitable spot"
Should go into a file on omega-cocontinuity.

Maybe other stuff from CategoryTheory/Inductives/Lists.v as well.

[2021-09-30 12:26] benediktahrens opened #1396 "CategoryTheory package depends on Bicategories"
@rmatthes has introduced a dependency of package CategoryTheory on (some files of) the package Bicategories.

While I agree that it is conceptually undesirable to separate the two, this dependency means that Bicategories has to be compiled in other projects, at least in the CI.

How about the following suggestion: move the definition of bicategory, as well as a few other files (in particular, the

[2021-09-30 14:47] rmatthes commented on #1396
I have not yet thought about the global implications, but I would like to add an aspect to this issue: the instantiation of the concept of bicategory with CAT should not create new data but only take lemmas one could also use without the bicategorical infrastructure. So, the fields of the definition of CAT should all be lemmas that are readily available outside. And this probably even when the def

[2021-09-30 21:51] rmatthes commented on #1396
It is even worse: CategoryTheory depends on SubstitutionSystems as well. (A) CategoryTheory/Monoidal/ActionBasedStrengthOnHomsInBicat.v should be moved into SubstitutionSystems. (B) CategoryTheory/Monoidal/ActionsFormBicategory.v should be moved into Bicategories/DisplayedBicats/Examples, but the documentation of action-based strength should point to that further result at a distant place. (C) Bic

[2021-09-30 22:17] benediktahrens commented on #1396
Thanks a lot for this analysis, this is great! Would you consider the layout you are sketching to be reasonable? Would it allow for easy use of all the results in further development?

This issue does not need to be solved immediately. In particular, we should merge PR #1391 before working on this restructuring (if we decide to do it).

[2021-10-19 10:51] MSoegtropIMC opened #1398 "Please pick the version you prefer for Coq 8.14 in Coq Platform 2021.11"
The Coq team released Coq 8.14.0 on October 14, 2021.
The corresponding Coq Platform release 2021.11 should be released before November 30, 2021.
It can be delayed in case of difficulties until January 31, 2022, but this should be an exception.

This issue is to inform you that the opam package we are currently testing in Coq Platform CI works fine with Coq 8.14.0.

Coq Platform CI is currently te

[2021-10-21 21:09] benediktahrens opened #1399 "Change CI to use OPAM for installation of ocaml stuff"
Our Coq submodule is stuck on 8.12.2, because Coq 8.13 requires a more recent zarith than Ubuntu 20.04 delivers.

It would be good if we could use OPAM on the CI to install the ocaml dependencies of UniMath, in order to switch to a more recent Coq submodule.

Background: many people who install ocaml via homebrew find themselves with too recent an ocaml version to compile Coq 8.12.

Alternatively,

[2021-10-22 18:52] benediktahrens opened #1400 "Oddity in installation instructions via OPAM"
The installation instructions for Ubuntu on https://github.com/UniMath/UniMath/blob/master/INSTALL_OPAM.md ask to install `camlp5` both from the Ubuntu repositories and via OPAM. Is that necessary?

Are there external installation instructions for OPAM that we can point to, and thus reduce the amount of documentation that we maintain ourselves?

[2021-11-01 15:11] DanGrayson opened #1403 "change "TopologicalSet""
We should change "TopologicalSet" to "TopologicalSpace" (and require X to be a set), to conform with standard terminology.

<img width="443" alt="Screen Shot 2021-11-01 at 10 10 42 AM" src="https://user-images.githubusercontent.com/700228/139694443-82280940-d421-45ba-aba6-f975b67a256a.png">

[2021-11-02 14:49] benediktahrens opened #1404 "Move auxiliary lemmas from CategoryTheory/categories/Cats to Foundations or MoreFoundations, if not present already"

[2021-11-10 14:46] benediktahrens commented on #1400
The Coq Platform 2021.09 has been released now: https://github.com/coq/platform/releases/tag/2021.09.0. It features a reasonably recent version of UniMath, which is good enough for the material of the UniMath schools, for instance: https://github.com/UniMath/Schools

[2021-11-10 21:28] DanGrayson commented on #1400
Great, I'll incorporate that into the instructions, too.

[2021-11-11 15:55] benediktahrens opened #1409 "Rename `bicat_of_cats` to `bicat_of_univalent_cats`"
For consistency with the other names in UniMath

[2021-11-11 15:57] nmvdw commented on #1409
This also affects: https://github.com/UniMath/UniMath/blob/master/UniMath/Bicategories/Core/Examples/BicatOfCatsWithoutUnivalence.v

[2021-11-13 23:32] #1409 closed

[2021-11-13 23:37] benediktahrens opened #1412 "Github setting "Require branches to be up to date before merging" does not seem to be active"
The Github setting "Require branches to be up to date before merging" does not seem to be active.
This could have to do with the following explanation:
"This ensures pull requests targeting a matching branch have been tested with the latest code. This setting will not take effect unless at least one status check is enabled (see below)."
The Github CI does not seem to be one of these status checks,

[2021-11-14 20:40] DanGrayson commented on #1412
I wasn't aware of these options before, but it does seem to be a good idea to require pull requests to be up to date.  (Alternatively, we could merge with master as part of the CI script.)

I don't understand "status checks", described here: https://docs.github.com/en/rest/reference/repos#statuses

Maybe we don't have any of them.  Or maybe we have to add a line at the end of the CI script to anno

[2021-11-15 13:35] benediktahrens commented on #1412
We had this check while using Travis CI, and it worked fine: any PR had to be updated before merging it into `master`. The check stopped working when we switched to Github Actions for CI.

[2021-11-25 23:54] nmvdw opened #1416 "[Coding style] Usage of Qed"
The following is written in the style guide (README.md):

However, this convention is not followed in UniMath, and there are valid reasons to deviate from it. The main reason is the efficiency of type checking. Several structures (categories, functors, bicategories, pseudofunctors) are equipped with laws that are never used for computation. If those would be transparent, then the amount of memory

[2021-11-26 15:30] DanGrayson commented on #1416
Somehow we should clarify how one might conclude that a proof should never be unfolded.  Also, one form of computation impeded by Qed is equality checking, which spoils proofs by reflexivity.  One thing that might make it safe to mark a proof opaque is if one can ensure that it's the only proof of that statement in the repository.

[2021-11-27 22:28] nmvdw commented on #1416
Indeed. there is a trade-off between the efficiency of type checking and the convenience of computations. To deal with this situation, it is important that the type of something that is made opaque, should be a proposition.

This is a reasonable guideline and it is followed in the library. However, there is a corner case. For functors, it is often convenient to make the `is_functor`-part opaque. U

[2021-11-28 04:12] benediktahrens commented on #1416
@nmvdw : thanks for raising this issue. Indeed, the current advice in the style guide is not adequate and needs to be changed. However, it seems difficult to give a general rule that is reasonably concise, does not quantify over all code like in what Dan is mentioning, and matches our experience.

In case we don't manage to formulate a rule, we should at least remove the current advice.

[2021-11-28 13:55] DanGrayson commented on #1416
Niels, I don't understand your remark about `is_functor`.  Could you clarify?

[2021-11-28 14:11] nmvdw commented on #1416
Let's look at the proof that the identity functor is a functor. In the library, only `is_functor_identity` is a proof of this result. However, we can generate more proofs of this fact by using that the composition of functors is again a functor. So, in a certain sense, there is more than 1 proof of this fact, and that would violate the guideline you gave.

Indeed, but I think it would be good to g

[2021-11-28 14:44] DanGrayson commented on #1416
Right, but those other proofs don't have to occur in the repository.  Simply avoid formalizing them.

[2021-11-28 14:46] DanGrayson commented on #1416
Maybe replace the third point with "It is undesirable to write multiple opaque proofs of properties, for then proofs of equality of objects containing them cannot be accomplished by reflexivity."

[2021-11-29 17:52] benediktahrens opened #1420 "Broken pipe in sanity checks on Github CI"
The Github Action CI shows the following lines:
[code]
Is that reason for concern?

[2021-11-29 21:25] benediktahrens opened #1421 "Material in DisplayedCats/Auxiliary should be placed into appropriate files"
This file is an artefact of having a separate repository for the material on displayed categories; it should be dissolved.

[2021-11-29 22:43] DanGrayson commented on #1420
Yes, that's worrisome.  It indicates it may not be checking the ordering of the files.  I can't reproduce the problem at home.  Why not restart the jobs and see if it happens again?  Which pull request were you looking at?

[2021-11-30 00:22] benediktahrens commented on #1420
I think it happens in all the recent PRs, see, e.g., here: https://github.com/UniMath/UniMath/runs/4359935245?check_suite_focus=true#step:5:9

[2021-12-01 11:28] peterlefanulumsdaine commented on #1396
Thanks both for noting and recording this.  Like @benediktahrens , I think it would be good to untangle this dependency if possible: `CategoryTheory` is required for several other developments that don’t otherwise need `Bicategories` or `SubstitutionSystems`, and some of the files in these latter two are very slow to compile.

Has anyone started working on this yet?

If not: Besides the solution @

[2021-12-01 18:45] benediktahrens commented on #1396
Not to my knowledge.
@rmatthes is currently formalizing some material for the final version of a paper at CPP 2022 that is about monoidal categories and bicategories. He will thus touch on exactly the problematic material. For this reason, it would be great to postpone any actual work on this issue until @rmatthes 's work is done. There might be some planning to do first, anyway.

I like the idea

[2021-12-10 19:52] benediktahrens opened #1427 "Need to remove badboxes"
Some of our text and figures reaches into the margins. The submission system is complaining. We should fix this. See the attached PDF.
[poplws22cppmain-p10-p-634194ba35-54700 54701-draft-all.pdf](https://github.com/UniMath/UniMath/files/7695131/poplws22cppmain-p10-p-634194ba35-54700.54701-draft-all.pdf)

[2021-12-10 19:55] nmvdw commented on #1427
I think this issue is at the wrong repository?

[2021-12-10 20:08] benediktahrens commented on #1427
Hahaha, thanks a lot!

[2022-01-01 21:02] benediktahrens commented on #1416
This issue seems solved by #1428 , closing.

[2022-01-01 21:02] #1416 closed

[2022-01-01 21:16] benediktahrens commented on #1412
See also https://stackoverflow.com/questions/68554735/github-action-status-check-missing-from-the-list-of-checks-in-protected-branch-s
The PR #1433 is related.

[2022-01-01 21:17] benediktahrens commented on #1374
This is done, thanks to @paigenorth!

[2022-01-01 21:17] #1374 closed

[2022-01-01 21:20] benediktahrens commented on #1396
@rmatthes @peterlefanulumsdaine : It would be good to solve this issue soon. There might be a new version of the Coq Platform coming out, and with the recent growth of the `Bicategories` package, this package might need to be dropped from the Platform version. I would very much appreciate any input that you might have.

[2022-01-01 21:24] benediktahrens commented on #1306
Fixed, closing.

[2022-01-01 21:24] #1306 closed

[2022-01-01 21:25] benediktahrens commented on #1322
What is the status of this issue, @DanGrayson ?

[2022-01-01 21:25] benediktahrens commented on #1279
Seems fixed, closing.

[2022-01-01 21:25] #1279 closed

[2022-01-01 21:26] benediktahrens commented on #1261
This issue seems to be resolved, closing.

[2022-01-01 21:26] #1261 closed

[2022-01-01 21:37] benediktahrens commented on #1011
Seems to be resolved, closing.

[2022-01-01 21:37] #1011 closed

[2022-01-01 21:38] benediktahrens commented on #1091
@rmatthes : This issue seems to be resolved through your overhauling of monoidal categories - can you confirm?

[2022-01-01 21:39] benediktahrens commented on #929
Done, closing.

[2022-01-01 21:39] #929 closed

[2022-01-01 21:42] benediktahrens commented on #827
@DanGrayson : what do you think about this issue? Its original goal was to allow the use of `-noinit`, which has been achieved. Another goal was then added to do without `Init.Logic`. Is this still a goal?

[2022-01-01 21:46] benediktahrens commented on #229
This issue seems to be resolved, closing.

[2022-01-01 21:46] #229 closed

[2022-01-01 23:44] benediktahrens commented on #71
I think the times are recorded, closing.

[2022-01-01 23:44] #71 closed

[2022-01-01 23:46] benediktahrens commented on #524
There is no such file in CT, closing.

[2022-01-01 23:46] #524 closed

[2022-01-01 23:55] benediktahrens commented on #323
We seem to have zero uses of "(Un)Set Automatic Introduction", so this is not an issue any more - closing.

[2022-01-01 23:55] #323 closed

[2022-01-01 23:57] benediktahrens commented on #694
This issue seems to be resolved, closing.

[2022-01-01 23:57] #694 closed

[2022-01-02 00:02] benediktahrens commented on #627
@mortberg : would you still like to have those two lines removed from `.dir_locals.el`?
@DanGrayson : any comments?

[2022-01-02 00:04] benediktahrens commented on #625
I am closing this issue - new statistics would of course be very welcome!

[2022-01-02 00:04] #625 closed

[2022-01-02 00:07] benediktahrens commented on #700
We understand why this is not (easily) possible, closing this issue.

[2022-01-02 00:07] #700 closed

[2022-01-02 00:10] benediktahrens commented on #830
This seems to be resolved, closing.

[2022-01-02 00:10] #830 closed

[2022-01-02 00:14] peterlefanulumsdaine commented on #1396
I’d be very happy to work on splitting this up; I can look at @rmatthes’ WIP branch and try to make sure to keep changes compatible with that, if @rmatthes is happy with that approach?

[2022-01-02 18:23] DanGrayson commented on #1322
Thanks for the reminder, I've just fixed it in commit bd2508582f914fc4a44261aa188f34e45c646cc3

[2022-01-02 18:23] #1322 closed

[2022-01-03 17:18] #1187 closed

[2022-01-03 17:20] DanGrayson commented on #827
I think it's still a good goal to not have superfluous lemmas defined.  I'll take another look at things ...

[2022-01-03 17:21] #486 closed

[2022-01-03 17:26] DanGrayson commented on #627
I think emacs needs to have the correct syntax table for the coq language, and since the underscore can be part of an identifier name, emacs needs to be informed, always, even on Anders' computer.  Anders, if you want to delete up to an underscore, you can just use `zap-to-char` :

[code]

[2022-01-04 21:47] rmatthes commented on #1396
My [PR1397](https://github.com/UniMath/UniMath/pull/1397) received a comment by @benediktahrens on October 7, 2021, essentially saying that developments should be considered incomplete if univalence of the constructed categories is not established. Hence, there may only be little benefit from extending the results on the bicategory of categories with homsets but not necessarily univalence. But the

[2022-01-05 17:36] DanGrayson commented on #1396
By the way, I'm looking forward to thinking about applying the standard combinatorial constructions of the higher algebraic K-groups to univalent categories, such as the category of finitely generated projective modules over a ring R.  It will require handling simplicial types, in some sense, and defining the geometric realization of such a thing.

[2022-01-18 18:01] MSoegtropIMC opened #1442 "Please pick the version you prefer for Coq 8.15 in Coq Platform 2022.02"
The Coq team released Coq 8.15.0 on January 13, 2022.
The corresponding Coq Platform release 2022.02 should be released before February 28, 2022.
It can be delayed in case of difficulties until April 11, 2022, but this should be an exception.

This issue is to inform you that the opam package we are currently testing in Coq Platform CI works fine with Coq 8.15.0.

Coq Platform CI is currently test

[2022-01-18 18:06] benediktahrens commented on #1442
@maggesi : would you be interested in releasing a new version of UniMath on OPAM for inclusion in the next Coq Platform?

[2022-01-25 10:10] maggesi commented on #1442
I think it would be a good thing to update the UniMath version distributed with the Coq platform.
It should not pose any problem.
I can take care of it within a week or so.

[2022-01-25 10:15] benediktahrens commented on #1442
That's great, thanks a lot!

[2022-01-25 10:31] MSoegtropIMC commented on #1442
Perfect thanks!

The Coq Platform beta for 8.15 will ship today with the current version of UniMath, but for the final version planned end of February there is plenty of time.

[2022-01-26 18:35] peterlefanulumsdaine commented on #1420
I’ve put together a proposed fix for this issue (at least as far as I’ve tested it on my own system) — you can review it in the branch [`fix-sanity-checks`](https://github.com/peterlefanulumsdaine/UniMath/tree/fix-sanity-checks) (fixing just the check itself) or, better, [`test-fixed-check`](https://github.com/peterlefanulumsdaine/UniMath/tree/test-fixed-check) (fixing the library to pass the chec

[2022-01-26 20:52] peterlefanulumsdaine commented on #1420
On second thoughts, I think there’s no real reason to wait on making a PR for this — I’ll just add a note to wait on #1445 before merging.

[2022-02-04 19:40] benediktahrens commented on #1442
Update: @maggesi is preparing an OPAM release with v20220204 (https://github.com/UniMath/UniMath/releases/tag/v20220204).

Thanks to both of you!

[2022-02-13 14:00] nmvdw opened #1456 "`Local Definition` vs `Let`"
This discussion came up twice:
- https://github.com/UniMath/UniMath/pull/1432#discussion_r776996433
- https://github.com/UniMath/UniMath/pull/1453#discussion_r804739418

As said by @rmatthes , it would be good to have a global discussion about their respective (dis)advantages. It might also be good to adjust the style guide  accordingly.

[2022-02-13 19:01] rmatthes commented on #1456
I can point to a potential disadvantages of `Let` by example. The axiom [enriched_functor_comp_ax](https://github.com/UniMath/UniMath/blob/master/UniMath/CategoryTheory/Enriched/Enriched.v#L206) is defined with several `Let`, and if one prints it out, four let-bindings for identifiers that are not on display for the formula are still listed: `(I := monoidal_cat_unit Mon_V) (α := monoidal_cat_assoc

[2022-02-14 10:23] benediktahrens commented on #1456
@rmatthes : thanks a lot for giving these examples; they illustrate some issues with `Let` very clearly.

I currently think (but am very happy to have my opinion changed) that neither `Let` nor `Local Definition` are particularly well-suited, in particular regarding the case we are discussing: defining projections out of a mathematical structure.
Instead, it seems much better to me to give a globa

[2022-02-14 10:40] nmvdw commented on #1456
I use `Let` for abbreviations. I don't use it with arguments and I don't use it for stuff that is supposed to be opaque (I prefer `Local Lemma` for that). The abbreviations are needed for stuff in a particular section, but not for stuff that's needed elsewhere. See for example: https://github.com/UniMath/UniMath/blob/master/UniMath/Bicategories/Morphisms/Properties/ClosedUnderPullback.v#L103

I pr

[2022-02-14 11:40] rmatthes commented on #1456
Concerning notations: am I right that ProofGeneral (and Company-Coq) are still not so good in uncovering the notations that are used in a given expression in the source code? E.g., in case of our symbol · for composition of morphisms that appears in more than 5kloc?

[2022-02-14 15:31] rmatthes commented on #1456
To make my last remark more understandable: If I type C-c C-a C-n in PG when the cursor is over the composition symbol, Emacs wants to "Locate notation" with default search string consisting only of that symbol. When hitting RET, this yields a syntax error. This does not happen for `->`,  `-->`, `==>`, `λ`, `∏`, `∑`, `#`, `⋆`. And it does not happen for the composition symbol when doing the operat

[2022-02-14 16:13] DanGrayson commented on #1456
As I recall, sometimes proof-general fails to put quotation marks around the symbol in the command to Coq, resulting in a syntax error.

[2022-02-14 17:03] rmatthes commented on #1456
Okay, is this a long-standing problem? As I wrote, this can depend on the context even for a given symbol.
For my final question above, I already have as solution typing as search strings ` "[ _ , _ ]"`, "`[ _ , _ , _ ]"` and `"_ ⟦ _ , _ ⟧"`, always with enough spacing. What I did not know is that C-c C-a C-b with these search strings in PG even displays where the concepts for which the notations

[2022-02-14 20:06] DanGrayson commented on #1456
I don't see one.  If I do C-c C-a C-n (coq-LocateNotation) with "[" I get just this display:
[code]

No locations.

But I like using `M-x tags-search` -- use a regular expression such as `^Notation.*\[.*,.*\]` and you'll quickly find it.

By the way, it's a good idea to "reserve" all new notations in Foundations/Init.v -- that way we don't get two files using different precedences for the same not

[2022-02-14 22:19] rmatthes commented on #1456
The locations came from C-c C-a C-b with those search strings for notation.

[2022-02-15 00:06] benediktahrens commented on #1442
@MSoegtropIMC : It would be great if you could include UniMath with tag v20220204 (https://github.com/UniMath/UniMath/releases/tag/v20220204) into Coq Platform 2022.02.

[2022-02-15 06:33] maggesi commented on #1442
(Continuing here the discussion from the [pull request](https://github.com/coq/platform/pull/218#issuecomment-1039403402).)

@MSoegtropIMC, we would like [UniMath version v20220204](https://github.com/UniMath/UniMath/releases/tag/v20220204) in the Coq Platform.
[The corresponding package in opam-coq-archive is already in place](https://github.com/coq/opam-coq-archive/pull/2094).
Let us know if is

[2022-02-15 08:20] MSoegtropIMC commented on #1442
Thanks for the confirmation! Just leave this issue open until I close it (which I will do after I updated Coq Platform).

[2022-02-15 12:43] clarus opened #1459 "Long installation time"
Hello,

It seems that the UniMath package takes a long time to compile. For example, on this test machine, it takes more than 4 hours https://coq-bench.github.io/clean/Linux-x86_64-4.13.1-2.0.10/released/8.13.2/unimath/20220204.html (timeout). Most other packages take a few minutes to install. I wonder if this is an issue for users wanting to try this library and if this is simple to optimize.

[2022-02-15 15:33] #1459 closed

[2022-02-15 16:47] benediktahrens commented on #1459
The hardware specs are given on https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners. We are compiling UniMath with `-j2` (https://github.com/UniMath/UniMath/blob/master/.github/workflows/build-unimath.yml#L39).

[2022-02-16 16:33] DanGrayson commented on #1456
Oh.  That seems to give the definition, without giving the location of the "Notation" command.

[2022-02-16 17:23] rmatthes commented on #1456
@DanGrayson : Yes, the C-c C-a C-b only shows the location of the concept that is denoted by the notation, not the location of the notation. The Emacs tags facility that is prepared for use with UniMath and described in the [installation instructions](https://github.com/UniMath/UniMath/blob/master/INSTALL.md#tags-files) is indeed of real help here. I still wonder if I overlook a genuine Coq functi

[2022-02-20 12:37] benediktahrens commented on #1420
I think this issue is fixed, closing.

[2022-02-20 12:37] #1420 closed

[2022-02-20 12:37] benediktahrens commented on #1412
fixed, closing.

[2022-02-20 12:37] #1412 closed

[2022-02-20 12:52] benediktahrens commented on #1324
Done, closing.

[2022-02-20 12:52] #1324 closed

[2022-02-20 15:27] benediktahrens commented on #288
We now have a UniMath package for OPAM - thanks everyone for making it happen. Closing this issue.

[2022-02-20 15:27] #288 closed

[2022-02-20 15:30] benediktahrens commented on #680
This issue seems to be resolved, closing.

[2022-02-20 15:30] #680 closed

[2022-02-20 15:40] benediktahrens commented on #845
This is done, closing.

[2022-02-20 15:40] #845 closed

[2022-02-20 16:16] benediktahrens commented on #1170
Done, closing.

[2022-02-20 16:16] #1170 closed

[2022-02-20 16:19] benediktahrens commented on #1045
This has been fixed, closing.

[2022-02-20 16:19] #1045 closed

[2022-02-20 19:04] benediktahrens commented on #977
Obsolete, closing.

[2022-02-21 14:33] #1404 closed

[2022-02-21 20:50] #1421 closed

[2022-02-22 15:46] #977 closed

[2022-02-22 16:37] benediktahrens commented on #938
We have decided that we are not interested in precategories. Also, for the definition of epi in a precategory to be a proposition, it needs to be given differently, less naively. Not worth the effort. Closing.

[2022-02-22 16:37] #938 closed

[2022-02-22 16:38] benediktahrens commented on #937
We do not care about precategories any more, closing.

[2022-02-22 16:38] #937 closed

[2022-02-22 17:13] benediktahrens opened #1464 "Construction in ActionBasedStrongFunctorsMonoidal not opacified"
The construction `smf_from_param_distr` in `ActionBasedStrongFunctorsMonoidal.v` is unsuited for use, since the proofs of properties are transparent. Similar for `parameterized_distributivity_nat_as_instance`.

[2022-02-22 17:25] benediktahrens commented on #1464
The construction of `section_to_nat_trafo` can more efficiently be done without destructing pairs (` induction sd as [[sdob sdmor] [sdid sdcomp]].`) Same for `section_to_nat_trafo_bicat`.

[2022-02-23 18:34] #948 closed

[2022-03-02 21:37] DanGrayson commented on #1456
It turns out the INSTALL.md already had a section on TAGS file usage, so I've moved the tags-search discussion from USAGE.md to there.

[2022-03-06 04:17] umedaikiti commented on #1333
I use VSCode with [VSCoq extension](https://github.com/coq-community/vscoq), so let me share my configuration.

I added the following configuration in `.vscode/settings.json`.
[code]
And I created a symbolic link by `ln -s .coq_makefile_input _CoqProject` so that VSCoq can recognize the project. Adding [latex snippets](https://github.com/coq-community/vscoq/wiki/Latex-Snippets) is also nice.

[2022-03-09 10:48] Kfwullaert opened #1468 "iso_disp uses iso instead of z_iso."
In section "Isos" of the file "UniMath.CategoryTheory.DisplayedCats.Isos", the notion of iso_disp is defined using iso instead of z_isomorphism. These are defined using precategories, but also in definitions and lemmas after that (where one uses categories instead of precategories) also use iso instead of z_isomorphism.

[2022-03-11 13:25] benediktahrens opened #1470 "Improve on the patch of #1469"
PR #1469 introduced some quite unreadable code with the goal of making UniMath available with the Coq development version.

Once UniMath uses a Coq version with the modified coercion mechanism, the modified code should be replaced by more readable code.

[2022-03-18 10:11] benediktahrens opened #1473 "CI fails with missing package in Ubuntu repos"
See, e.g., https://github.com/UniMath/UniMath/pull/1472 and https://github.com/UniMath/UniMath/pull/1471:
[code]
I am investigating. @DanGrayson @maggesi : could you also have a look?

[2022-03-21 09:24] MSoegtropIMC commented on #1442
I did the change in my preparation branch, so I close this issue.

[2022-03-21 09:24] #1442 closed

[2022-03-26 07:42] benediktahrens commented on #1473
solved by #1474, closing

[2022-03-26 07:42] #1473 closed

[2022-04-19 19:53] benediktahrens opened #1497 "Syntax error in CI yml"
See https://github.com/UniMath/UniMath/actions/runs/2191847690/workflow

[code]
EDIT: I am unsure where this error message belongs. It was sent by email; the email does not show what PR or commit this CI run was initiated by.

[2022-04-20 13:42] #1497 closed

[2022-04-20 18:14] rmatthes opened #1499 "choosing the degree of parallelism when building UniMath"
The issue is how to find the right value for N in make -jN when compiling the UniMath library (and maybe to choose an appropriate computer for bearable compilation time). The [instructions](https://github.com/UniMath/UniMath/blob/master/INSTALL.md) are a bit vague on that point: _To speed up execution on a machine with multiple cores or pseudo-cores, specify the use of multiple processes in parall

[2022-04-20 21:05] Alizter commented on #827
FTR `Numeral Notation` has been replaced with `Number Notation`. Also, we have been using -noinit successfully in the HoTT library for some time now. If you need any help enabling it, let me know.

[2022-04-20 21:13] benediktahrens commented on #827
@Alizter : Thanks a lot for your message. UniMath is currently working with `-noinit`. The issue has morphed to be about `Init.Logic` now. I'll change the title of the issue to reflect that.

[2022-04-21 17:57] rmatthes commented on #1499
Yesterday, I mentioned `DisplayedInserter.v`, today I compiled after PR #1496 had been merged. I observed process memory consumption over 10^6 kBytes for 12 .v files, among which 6 are in `UniMath/Bicategories/PseudoFunctors`. The very recent directory `UniMath/Bicategories/PseudoFunctors/Preservation` even has 4 of the 7 files with the most memory consumption in their compilation process. With in

[2022-04-24 13:54] DanGrayson commented on #1499
It may not be possible to get much speed-up -- some of the files in category theory are really slow, and there are lots dependencies that force prerequisites to be compiled earlier.

[2022-04-26 08:50] benediktahrens opened #1501 "Get material from workshop on univalent mathematics 2019 merged into UniMath"
@jozefg wrote some code on Grothendieck universes, available at https://github.com/unimath2019-tt/UniMath/pull/1.
Can it get merged into UniMath?
@mortberg

[2022-04-26 08:56] mortberg commented on #1501
Even if we polish it up we're using an `Inductive` (https://github.com/unimath2019-tt/UniMath/pull/1/files#diff-452b433f08e8e74d6437469aa8fde510c75068ffb77a815cb2aa0ce3006c183aR185) in the core definition. So unless the UniMath policy on inductive types has changed I'm afraid that preparing the PR to be merged will involve a lot of work. One quick fix would be to just parametrize the development b

[2022-04-26 08:58] mortberg commented on #1501
Or is there some construction of W types in UniMath that I'm not aware of? I have a vague recollection that another group at the same school worked on this following Felix Rech's work, but I'm not sure if that was ever finished?

[2022-04-26 09:01] benediktahrens commented on #1501
Good point - as such, it cannot go into UniMath/UniMath, but in some satellite repository.
There is code on W- and M-types in https://github.com/UniMath/UniMath/tree/master/UniMath/Induction. I have not studied that material, and thus don't know if it would suffice to replace the inductive type used.

[2022-04-26 09:31] rmatthes commented on #1501
The outcome of the UniMath 2019 school on Rech's construction is [ComputationalM.v](https://github.com/UniMath/UniMath/blob/master/UniMath/Induction/M/ComputationalM.v). The extension to families was under way. Rech had this already before, but his code was not connected to the UniMath library. The whole point of Rech's construction was to get the desired equations definitionally. It this is not n

[2022-04-26 20:13] rmatthes opened #1502 "document how to compile individual .v files with the makefile"
One can add `-f build/CoqMakefile.make` to the command line for making a single .vo file given by its path. Otherwise, if the .vo file is not present, make will not know what to do. This should be documented for all users.

_Solution originally posted by @DanGrayson in https://github.com/UniMath/UniMath/issues/1494#issuecomment-1108589220_

[2022-05-04 12:23] benediktahrens opened #1504 "Definition of univalence of categories should use `z_iso`, not `iso`."
We currently have
[code]
but we should have
[code]

[2022-05-06 16:39] rmatthes commented on #1504
I assume this is because both conclusions are logically equivalent, and `is_z_isomorphism f` is also a proposition when C is a category, and univalence is only studied for categories. We there have a weak equivalence between `iso a b` and `z_iso a b`. I did not find this in the library yet and could commit it very easily now. I am trying to figure out what changes are needed for the package Catego

[2022-05-19 11:48] rmatthes commented on #1504
This starts looking like a project to dismiss the current definition of `iso` (after getting all files compile again). Are there more global considerations that stand against this move? Maybe the problems would reside in the satellite repositories. The HoTT library seems to take a route in a very different direction (making the development less dependent on having homsets).

[2022-05-23 08:09] rmatthes commented on #1504
I would like to attract attention to [my commit](https://github.com/UniMath/UniMath/commit/a8ce0401) that would need help from an expert in displayed categories - just to fix proof parts of a definition where the difference between `iso` and `z_iso` changes the proof structure. For the time being, I admitted that construction.

[2022-05-23 09:21] benediktahrens commented on #1504
Thanks a lot for the notification. I cannot promise that I can take time to look at this soon, but I'll do my best.

[2022-05-23 10:14] nmvdw commented on #1504
See the PR I just made.

[2022-05-23 11:09] rmatthes commented on #1504
A great help indeed. Thanks a lot @nmvdw .

[2022-05-24 17:58] rmatthes commented on #1504
Please see my PR #1507. It asks for more help on seven identified files - among the 153 .v files that were adapted so that all ~650 files of UniMath compile again. A word of warning: I did not control the untouched files if they have potential for a migration from iso to z_iso. However, all the constructions over isomorphisms leading to univalence results are now only done for the z_iso variant. A

[2022-05-27 09:16] rmatthes opened #1512 "resurrect the last 100 loc of CategoryTheory/DisplayedCats/Constructions.v"
There was a partial migration within the move from iso to z_iso (PR #1507). `is_disp_functor_cat_z_iso_iff_pointwise_z_iso` is the analogue of the former `is_disp_functor_cat_iso_iff_pointwise_iso`. Before finally commenting out this part, it depended on two `Admitted`, in particular for the lemma `is_disp_nat_trans_pointwise_inv` that is simpler than the analogous auxiliary lemma before the migra

[2022-05-30 13:17] peterlefanulumsdaine commented on #362
This old issue is now fully resolved following #1402 and #1507 , I think?

[2022-05-30 14:13] #1396 closed

[2022-05-30 14:17] benediktahrens commented on #279
This issue is resolved, just like the related #362

[2022-05-30 14:17] #279 closed

[2022-05-30 14:17] benediktahrens commented on #362
Yes, closing.

[2022-05-30 14:17] #362 closed

[2022-05-31 16:03] martinescardo opened #1513 "Bourbaky -> Bourbaki"
https://github.com/UniMath/UniMath/blob/f3e3d6158feb8941503c8ba7e2e3b955ce4c2ee4/UniMath/Topology/Topology.v#L3

[2022-05-31 20:06] DanGrayson commented on #1513
fixed:

[code]

[2022-05-31 20:06] #1513 closed

[2022-06-24 14:27] rmatthes opened #1519 "put the inverses of the isos in whiskered monoidal categories into the data part"
This was discussed for PR #1516. See in particular [its conclusion](https://github.com/UniMath/UniMath/pull/1516#discussion_r898908818).

This issue ought to be resolved before generalizing whiskered monoidal categories to actions (in whiskered style).

[2022-06-24 14:41] benediktahrens commented on #1468
fixes in #1507 , closing.

[2022-06-24 14:41] #1468 closed

[2022-06-30 19:35] benediktahrens opened #1522 "Modernize build system?"
In a discussion during TYPES, @ppedrot suggested we could/should change our build system to allow the building in "stages". I have not understood what this means, and what we would need to do precisely in order to implement this change.

The purpose of this issue is to continue the conversation and gather feedback from everyone involved. We would be grateful for any pointers and advice to improve

[2022-07-01 13:16] ejgallego commented on #1522
Dune's Coq support could indeed help you, several options are available in terms of splitting Coq developments: theories and packages.

Building a theory can be just done with `dune build $theory_path`.

Docs are here, let me know folks if you have any question: https://dune.readthedocs.io/en/stable/coq.html

[2022-07-02 11:03] DanGrayson commented on #1522
Help us do what?  Does something need to be done?

[2022-07-02 12:08] ejgallego commented on #1522
Apart from all the features Dune provides as built-in (caching, "sounder" builds, separate object dir, easier checking vs different Coq versions, finer verbosity control) Dune could help you with:
- you can organize theories in a more fine-grained way, using `(coq.theory )`  and the `(theories ...)` field, similarly to the way OCaml libraries are organized.
- you can build subset of targets easily

[2022-07-24 17:07] benediktahrens commented on #810
@DanGrayson : I think you recently changed something that is related to this issue. Could you link to the change from here?

[2022-07-24 17:24] DanGrayson commented on #810
Yes, see commit 62858926d4e34d0cf85297c7b04237d135a135c0

[2022-07-26 13:05] benediktahrens opened #1529 "UniMath in jsCoq?"
It would be great to have UniMath in jsCoq. The overall process is described in https://github.com/jscoq/jscoq/blob/v8.16/docs/build.md.

[2022-07-26 15:07] benediktahrens opened #1530 "Set up alectryon for UniMath?"
We could try to set up alectryon for UniMath. The source of alectryon is at https://github.com/cpitclaudel/alectryon.

[2022-07-26 15:20] benediktahrens commented on #96
This is not an issue any more, since we use a different def of being an iso - closing.

[2022-07-26 15:20] #96 closed

[2022-07-26 16:06] DanGrayson commented on #1529
It looks like we can rather easily build UniMath using jscoq, but a procedure for getting it included in their distribution doesn't seem to be described at that link.

[2022-07-26 16:08] DanGrayson commented on #1530
It's aimed at making interactive textbooks!  The best math textbook would be one where the students are provided with formalized and runnable proofs of everything.

[2022-07-26 17:37] rmatthes commented on #1530
We use it a lot for teaching Coq in our university. One steps through the proof scripts by hovering over the special symbols appearing between the tactic applications. Would be very good to have a UniMath tutorial in that style.

[2022-07-26 18:45] DanGrayson commented on #1530
Vladimir envisioned the Foundations itself as a tutorial.  So we should just try stepping through it.

[2022-07-26 18:47] #1057 closed

[2022-07-26 21:46] benediktahrens commented on #1530
Alectryion is like stepping through the file, but without the hassle of installing Coq. It seems great as a first step.

[2022-08-04 08:51] benediktahrens opened #1533 "Add UniMath/GrpdHITs to CI"

[2022-08-07 20:11] EgbertRijke opened #1536 "MacOS CI actions being queued"
Hi!

Over at agda-unimath, the CI is queueing the actions to check our pull requests, because of the following:

[code]

I was quite puzzled with this, because we rarely have more than two CI checks running at any moment. So I was wondering what was going on, and then I noticed that here at the Coq Unimath you also have a lot of pending CI actions (for pull requests that go a long way back). Could

[2022-08-07 22:35] Cypher1 opened #1537 "INSTALL_COQIDE.md is out of date"
I'm trying to use UniMath (without prior knowledge of emacs, coming from vim) and I'm unsure how to set it up (I get errors with Unimath not being found, though I've tried to `make install` it).

I found `INSTALL_COQIDE.md` which refers to a file that is deleted and supposedly generated by the `make` process, but is emacs script?

Thanks in advance for the help

[2022-08-08 09:07] benediktahrens commented on #1536
@DanGrayson could you take a look?

[2022-08-08 18:11] DanGrayson commented on #1537
If you're referring to `sub/coq/bin/coqide`, that's a program optionally built when compiling coq from sources.  Nowadays, though, it usually suffices to just install coq on your computer and let the makefile use the installed coq, instead of building it from scratch.

[2022-08-08 18:23] DanGrayson commented on #1536
Sure, I'll take a look.

[2022-08-08 18:26] DanGrayson commented on #1536
Egbert, which action or pull request should I look at?

[2022-08-09 09:38] EgbertRijke commented on #1536
Hi Dan! It seems that all the github actions (here and on agda-unimath) have been resolved since I opened the issue. So it is not really an issue anymore. So my only question that remains is that if we have lots of actions running here and on agda-unimath, does that queue each other's actions?

[2022-08-09 11:01] DanGrayson commented on #1536
It could well be that scheduling is done on a per-user basis, rather than on a per-repository basis, but I don't know.

[2022-08-09 11:01] #1536 closed

[2022-08-10 12:36] MSoegtropIMC opened #1538 "Please create a tag for Coq 8.16 in Coq Platform 2022.09"
The Coq team released Coq `8.16+rc1` on June 01, 2022.
The corresponding Coq Platform release `2022.09` should be released before **September 15, 2022**.
It can be delayed in case of difficulties until October 15, 2022, but this should be an exception.

This issue is to inform you that to our (possibly a few days old) best knowledge the latest released version of your project (preview) **does not

[2022-08-16 10:53] benediktahrens commented on #1538
@MSoegtropIMC : thanks for filing this PR.

@DanGrayson @peterlefanulumsdaine @rmatthes @nmvdw @maggesi : I am struggling to build Coq 8.16. Could anybody try building it, and building current UniMath/UniMath on top of it?

[2022-08-16 11:32] DanGrayson commented on #1538
I'll take a look.  I may have to modify our UniMath makefile to take differences into account.

[2022-08-16 12:34] benediktahrens commented on #1538
@DanGrayson : I managed to build Coq 8.16 and UniMath/UniMath on top of it - just had to remind myself how it is done...

I'll make a new tag from current master.

[2022-08-16 12:37] benediktahrens commented on #1538
@MSoegtropIMC : could you please use tag v20220816 (https://github.com/UniMath/UniMath/releases/tag/v20220816) for Coq Platform 2022.09?

[2022-08-16 13:35] DanGrayson commented on #1538
Okay, great!

[2022-08-16 13:39] benediktahrens commented on #1538
Some notes for compiling Coq 8.16 and UniMath/UniMath on top of it:
- to compile coq 8.16 on Debian, I had to install package `ocaml-dune`
- `configure` does not have the `-local` option any more. Instead, one can (less conveniently) use `-prefix /foo/bar` to make a local installation
- after `make`ing Coq, one also needs `make install` now (i think this was not necessary with `-local`)

[2022-08-17 18:03] benediktahrens commented on #1340
Ubuntu 22.04 is now available on Github Actions: https://github.blog/changelog/2022-08-09-github-actions-ubuntu-22-04-is-now-generally-available-on-github-hosted-runners/

That might mean that we could update the Coq submodule to the most recent version, which seems to be 8.15.1.

See also https://github.com/UniMath/UniMath/issues/1538#issuecomment-1216652877 for more information on how to compile

[2022-08-17 18:20] benediktahrens commented on #1340
@DanGrayson : could we work on updating the Coq submodule? It will require some changes to `Makefile`, in particular, the `CONFIGURE_OPTIONS` need to be adapted.

[2022-08-17 19:19] DanGrayson commented on #1340
Sure.

[2022-08-22 05:40] Cypher1 commented on #1537
True, though, in my opinion, this does not resolve the issue of the out of
date file.

On Tue, 9 Aug 2022 at 04:11, Daniel R. Grayson ***@***.***>
wrote:

[2022-08-22 08:45] benediktahrens commented on #1537
@Cypher1 thanks a lot for filing this issue.

The file linked to has been renamed, that's why it looks like it has been deleted. It is this one: https://github.com/UniMath/UniMath/blob/master/UniMath/.dir-locals.el.in

@DanGrayson : do you know why the file has been renamed?

[2022-08-22 13:03] DanGrayson commented on #1537
I renamed it, so we can make the real file, `.dir-locals`, from it, and have the contents depend on whether we build coq.  If we build coq, then proof general should use the one we build; otherwise, not.

[2022-08-24 21:31] benediktahrens commented on #1340
Done in #1541 , closing.

[2022-08-24 21:31] #1340 closed

[2022-08-27 09:26] rmatthes opened #1543 "the list of publications with contributions to UniMath needs update"
As of August 27, 2022, the [Wiki page of UniMath](https://github.com/UniMath/UniMath/wiki/Documentation:-Articles-describing-UniMath) has not  received new items since May 2019.

[2022-08-27 09:32] nmvdw commented on #1543
Should this page only contain publications that describe specific parts of UniMath/UniMath or also code not in UniMath/UniMath?

[2022-08-27 09:32] rmatthes commented on #1091
Yes, there was also the move from `iso` to `z_iso`, and the currently used `nat_z_iso` requires pointwise `is_z_isomorphism`.

[2022-08-27 09:32] #1091 closed

[2022-08-27 09:34] benediktahrens commented on #1543
In my opinion, this page could list any work (publication, formalization, etc) that makes use of UniMath/UniMath in some way.

[2022-08-27 09:41] rmatthes commented on #1543
The heading should then be changed a bit. Any publication that comes with a contribution to UniMath also serves as documentation of (that part of) UniMath. But also a publication that builds on UniMath without contributing code to it serves as a documentation of how to use UniMath. I see three categories of papers: those that target UniMath globally, those that describe specific parts that were ad

[2022-08-27 09:46] benediktahrens commented on #1538
@MSoegtropIMC : the tag created for https://github.com/coq/platform/issues/274 is

https://github.com/UniMath/UniMath/releases/tag/v20220816

Thanks a lot for your work on the Coq platform!

[2022-08-27 09:59] benediktahrens commented on #1543
Re heading: yes, absolutely.

The original page was made in a rush, and could use a lot of improvement. The categories you mention give a good indication of what kind of entries would be suitable. I think there are quite a few entries missing.

I am not sure what the best way is to order the entries, if any - maybe an unordered list that is simple to maintain is a good choice.

[2022-08-27 10:04] rmatthes commented on #1543
How about one unordered list, but a letter indication for the three categories: G for global, L for local, E for external use (and multiple letters could be warranted for some paper)?

[2022-08-27 10:39] benediktahrens commented on #1543
Sounds good with me!

[2022-08-27 14:51] rmatthes commented on #1543
I was ready to add the following to that page:

Categories of papers listed here
We try to indicate the category to which a listed article belongs. There are
* Cat. G ("global"): papers that target UniMath globally
* Cat. L ("local"): papers that describe specific parts of UniMath that were added as part of the publication
* Cat. E ("external"): papers that make use of the UniMath library without

[2022-08-27 14:54] benediktahrens commented on #1543
I think the obsolete page should be deleted. Yes, applying these categories to the new page sounds good!

Thanks for bringing some order into the chaos!

[2022-08-27 16:21] rmatthes commented on #1543
I have integrated the extra contents of the obsolete page into the current one before deletion. In general, there could be more links to the preprints. Obviously, some papers are missing in this list, and I also did not classify all papers. I'll leave this to the authors.

[2022-09-06 13:56] MSoegtropIMC commented on #1538
@benediktahrens : can you please create an opam package for this version? If you want, I can also do this.

[2022-09-06 23:17] benediktahrens commented on #1538
@MSoegtropIMC : it would be fantastic if you could create a suitable opam package.

[2022-09-07 07:20] MSoegtropIMC commented on #1538
@benediktahrens : sure, no issue. Can you please review (https://github.com/coq/opam-coq-archive/pull/2285). Things which change from time to time are authors (say a new Ph.D. student) and you also might want to check the minimum Coq version - I did not test this. I just adjusted the download URL and SHA.

[2022-09-08 14:37] DanGrayson opened #1545 "subtypes"
In 2.16 we introduce connected components and call them subtypes, but subtypes aren't introduced until 2.20.  We also speak of two components being the "same", and we write an equation connecting two subtypes, but we don't know that the type of subtypes is a set.

One possible solution: move the material about connected components to 2.20, where it can serve as a good example of subtypes.

[2022-09-08 14:43] benediktahrens commented on #1545
@DanGrayson : wrong repository

[2022-09-09 11:50] MSoegtropIMC commented on #1538
I switched to the public opam package now and close this issue.

[2022-09-09 11:50] #1538 closed

[2022-09-09 12:00] benediktahrens commented on #1538
@MSoegtropIMC : thanks for falling back on the last released OPAM package. We have not been able to establish that your prepared OPAM package (https://github.com/coq/opam-coq-archive/pull/2285) works - compilation failed with an error suggesting that the `tar.gz` was never actually unpacked and changed into.
Sorry for the hassle!

[2022-09-09 14:22] benediktahrens commented on #1538
@DanGrayson tried to test https://github.com/coq/opam-coq-archive/pull/2285 locally on his machine, but did not seem to be successful. If the package worked in your tests, then that's fantastic - it is the right package to use.
(We are all not very familiar with OPAM, I am afraid.)
Sorry for the confusion!

[2022-09-09 15:50] benediktahrens commented on #1538
@MSoegtropIMC : thanks a lot for your explanation. I think @DanGrayson ' s goal was to add the OPAM package that you had prepared to a local repository of OPAM packages, so that he could test installation.

[2022-09-22 17:13] nmvdw opened #1552 "Not all sanity checks can be run locally"
If I run `make sanity checks` on my laptop (Mac OS 12.2.1), I get
[code]
As such, I can only see whether the sanity checks are satisfied after doing a pull request.

[2022-09-22 17:33] benediktahrens commented on #1552
@DanGrayson : could you take a look at this?

[2022-09-22 18:19] DanGrayson commented on #1552
Yes, bash is too old on mac os x.  On my system it's stuck at version 3.2.57, which is why I use homebrew to install a modern version, 5.1.16.  Since /usr/local/bin is ahead of /bin on my PATH, the modern one gets used instead.

[2022-09-22 18:25] nmvdw commented on #1552
That helped! Thank you

[2022-09-28 13:06] peterlefanulumsdaine commented on #810
It seems like this issue can now be closed, fixed by 62858926d4e34d0cf85297c7b04237d135a135c0 merged in #1494?

[2022-09-28 13:27] #810 closed

[2022-09-28 13:27] DanGrayson commented on #810
Yes, thanks!

[2022-09-28 13:49] peterlefanulumsdaine opened #1555 "`.dir-locals.el` should be generated by more `make` targets (not just `make all`), and removed by `make distclean` or similar"
Since #1494, the Emacs local variables file `UniMath/.dir-locals.el` is now autogenerated by the build, as suggested + motivated in #810 .  This issue is a couple of points about it.

Firstly: for now, `.dir-locals.el` only gets created when `make all` is invoked — it’s only requested in the Makefile via the line
[code]

But a user building only a subset of packages (by e.g. `make Algebra`) will s

[2022-09-28 14:02] DanGrayson commented on #1555
Good points.

[2022-09-30 01:47] benediktahrens commented on #1555
Is this issue solved completely by #1556 ?

[2022-09-30 03:02] benediktahrens opened #1558 "Warnings when making HTML documentation"
I am not sure what these warnings mean and whether they require action:
[code]

[2022-09-30 15:51] DanGrayson commented on #1558
From the coq reference manual:

<img width="733" alt="Screen Shot 2022-09-30 at 8 49 48 AM" src="https://user-images.githubusercontent.com/700228/193308675-6f3ea5ac-dd50-4779-b617-0812d5a8c2e4.png">

So all we have to do is to move all occurrences of >> to the beginning of the line.

I'll do it.

[2022-10-01 17:34] DanGrayson commented on #1558
done in 0b4e7ca6863e6f2873b427b26b90b233c3de6311

[2022-10-01 17:34] #1558 closed

[2022-10-01 17:39] benediktahrens commented on #1558
@DanGrayson : thanks a lot!

[2022-10-03 12:53] peterlefanulumsdaine commented on #1555
I think so.  #1556 certainly addresses all the issues I raised in this issue, but I wasn’t very confident it was the best way to do so — I’m not so familiar with the full design intent of the Makefile structure (is there an intended conceptual distinction behind exactly what should be compiled in which target?).  But if you and Dan are happy with #1556 then I think this can be closed!

[2022-10-03 12:53] #1555 closed

[2022-10-03 15:16] DanGrayson commented on #1555
I think you can just let common sense be your guide there.

[2022-10-03 20:29] benediktahrens commented on #1552
This issue seems to be resolved, closing.

[2022-10-03 20:29] #1552 closed

[2022-10-03 20:30] benediktahrens commented on #1537
@Cypher1 : does #1542 solve this issue for you?

[2022-10-07 22:46] #1403 closed

[2022-10-11 12:51] m-lindgren commented on #1029
This can be closed. Fixed by #1462.

[2022-10-11 16:56] benediktahrens commented on #1029
@m-lindgren : thanks a lot! Closing.

[2022-10-11 16:56] #1029 closed

[2022-10-12 16:20] m-lindgren commented on #608
I think this can be closed. Fixed by #950 and #952.

[2022-10-12 16:33] benediktahrens commented on #608
@m-lindgren : thanks for finding this - closing.

[2022-10-12 16:33] #608 closed

[2022-10-12 17:24] m-lindgren opened #1565 "CI should check if CONTENTS.md is up-to-date."
Maybe `make sanity-checks` could include a check to see if CONTENTS.md is up-to-date?

[2022-10-12 17:43] benediktahrens commented on #1565
Tentatively assigning this to @DanGrayson...

[2022-10-12 18:01] DanGrayson commented on #1565
Good idea, I'll take care of it.

[2022-10-12 20:54] DanGrayson commented on #1565
Okay, commit b2f478730fdd4d975062dee30bb9ac77e6ca1257 ought to take care of it.

[2022-10-12 20:55] #1565 closed

[2022-10-13 09:06] peterlefanulumsdaine commented on #139
Reopening since I think the result formalised in #1564 isn’t quite the right result here (although it is indeed) the result Vladimir originally asked for).

The point is that for most of the intended applications, we need a set exhibited as a *directed* colimit of finite sets — and the diagram of all finite subsets of a set (as considered in #1564) will be directed iff LEM holds.  But there are tw

[2022-10-13 10:33] m-lindgren commented on #139
In a private repo / external to UniMath I have proof that every set is a filtered colimit of its K-finite subsets. I can maybe try to integrate it with UniMath this weekend. As far as I know K-finiteness is not defined in UniMath currently, so would have to include that in the PR unless it's already in there somewhere. Same with filteredness.

I have an half-finished attempt to formalise filtered

[2022-10-13 10:35] peterlefanulumsdaine commented on #139
Those would be marvellous to have!

[2022-10-13 11:24] peterlefanulumsdaine opened #1567 "Add failure messages for sanity checks?"
Currently, all the sanity checks print messages when they start and if they succeed, but only `check-listing-of-proof-files` gives a message on failure.  Adding failure messages would have a couple of advantages:

- users getting a failed check will get a better pointer for what they need to fix
- if running the sanity checks in parallel locally, with eg `make -j4`, this makes it possible to see w

[2022-10-13 11:26] peterlefanulumsdaine commented on #1565
thanks @m-lindgren , @DanGrayson !  Further minor improvement in #1566 , plus committing the outstanding update to `CONTENTS.md` which I guess motivated this issue.

[2022-10-13 11:30] #1537 closed

[2022-10-13 11:43] peterlefanulumsdaine commented on #1399
Relevant note: one of the CI jobs, the build on Mac OS with our own Coq, now uses opam (since a59fde36).

[2022-10-18 22:25] benediktahrens opened #1571 "CI improvement: run each sanity check in a separate job"
It would be good to run each sanity check in a separate job.

Right now, the checks bail out at the first check that fails - subsequent checks are not run. It would be more informative to run the checks in parallel.

[2022-10-18 22:27] DanGrayson commented on #1571
The `-k` command line option to `make` tells it to continue after an error.

[2022-10-19 13:25] #1571 closed

[2022-10-21 12:00] peterlefanulumsdaine opened #1574 "Consolidate material on binary operations"
We have several near-duplicate/overlapping treatments of some basic material of binary operations — invertibility, cancellability, etc.  The biggest is the section in `Algebra.Domains_and_Fields`, marked *“To monoids […] TODO: this has now been upstreamed to `BinaryOperations.v`, these should be expunged.”*  I initially thought this would be a simple upstreaming and tried to do it in the general h

[2022-10-21 12:52] benediktahrens commented on #1574
Thanks for preparing this overview! Where is the definition of the “non-standard” invertibility?

[2022-10-21 14:16] DanGrayson commented on #1574
That definition of `Algebra.BinaryOperations.islinvertible` was invented by Vladimir in November, 2011.  He must have had a reason for it.  Probably he thought this was the only that could work when the underlying type is not a set.

[2022-10-21 14:19] peterlefanulumsdaine commented on #1574
@benediktahrens They’re at https://github.com/UniMath/UniMath/blob/434afa631483463c9a55cdf13d30e3c1eda1605f/UniMath/Algebra/BinaryOperations.v#L76

and subsequent lines.  There are a few lemmas later connecting them to other concepts, but the single-sided versions don’t get used at all outside `BinaryOperations` (once in `Monoids`, but non-essentially).

As @DanGrayson  says, it’s worth considerin

[2022-10-21 14:28] benediktahrens commented on #1574
Thanks again, @peterlefanulumsdaine , for the very helpful message.

I agree with your proposal from the first message.

[2022-10-21 15:14] benediktahrens opened #1575 "Improve CI for satellite repos"
- put compilation of each satellite repo in a separate "step"
- continue CI upon failure of a step (see https://stackoverflow.com/questions/58858429/how-to-run-a-github-actions-step-even-if-the-previous-step-fails-while-still-f)

[2022-10-22 11:27] #1533 closed

[2022-10-24 14:57] nmvdw opened #1576 "Option to enforce part of the style guide"
We have the following in the style guide:

Coq has the following option:
[code]
This actually enforces this rule from the style guide. See the following piece of code:
[code]
My question: do we want to add this to UniMath so that this particular rule gets enforced by Coq?

[2022-10-24 17:47] rmatthes opened #1577 "why do we need .glob files for installing UniMath?"
I ran by accident into the following observation: if the .vo files are present but not all .glob files, then make install fails but make sees nothing to be done. I would install UniMath so that I can compile the satellite repositories. I do not see in what sense I could profit from the .glob files for that compilation. Maybe I overlook some subtlety (the .glob files appeared already in [issue #341

[2022-10-24 18:50] DanGrayson commented on #1577
I'll take a look.

[2022-10-24 18:51] DanGrayson commented on #1577
Why they're needed for installation: I believe ProofGeneral uses them to provide the user with info about identifiers.

[2022-10-24 20:48] benediktahrens commented on #1576
@nmvdw : how did you learn about this option?

It is an interesting proposal, but potentially quite expensive to implement: possibly many proofs need to be adapted, or the files they are contained in need to be exempted from that rule. I don't see a way to automate that much.

[2022-10-24 20:58] nmvdw commented on #1576
I was talking to Robbert Krebbers today and he told me about this option and that they use it in Iris.
I think it would be a good idea to use it for UniMath as well. It improves the readability of the code and the code reviewers don't have to check anymore whether the code obeys to this particular guideline.

It might indeed require some work to make all files in UniMath strictly adhere to this gu

[2022-10-25 23:22] rmatthes commented on #1576
I made a small try in PR #1580 for SubstitutionSystems (the package) and in PR #1581 for bicategories (all files that import the file with their definition). These two parts of UniMath were very easy to deal with.

[2022-10-26 08:54] nmvdw commented on #1576
Very nice!

[2022-10-26 13:06] rmatthes commented on #1576
So, in rounded figures, 300 out of the 770 .v files are already "under control". And future files that import any of those will be as well.

[2022-10-26 13:31] nmvdw commented on #1576
List of packages that use it
- [ ] Algebra
- [ ] Algebraic Geometry
- [x] Bicategories
- [ ] Category Theory
- [ ] Combinatorics
- [ ] Folds
- [ ] Foundations
- [ ] Homological algebra
- [ ] Induction
- [ ] Ktheory
- [ ] MoreFoundations
- [ ] NumberSystems
- [ ] PAdics
- [ ] Paradoxes
- [ ] RealNumbers
- [x] SubstitutionSystems
- [ ] Synthetic Homotopy Theory
- [ ] Tactics
- [ ] Topology

[2022-10-26 13:34] nmvdw commented on #1576
It would be good to first identify all the packages on which no other package depends and do those first.

[2022-10-26 21:01] rmatthes commented on #1576
A new try is now in PR #1582 . Tested with the package PAdics that I had rewritten some years ago to conform mostly (as shown by the needed changes in the PR) to structured proof format.

[2022-10-27 17:53] nmvdw commented on #1576
Both GrpdHITs and SetHITs should be compatible now with the structured proof format.

[2022-10-27 20:29] nmvdw commented on #1576
I think the next ones to rework would be:
- Induction
- SyntheticHomotopyTheory
- Tactics
And the subrepositories:
- Type Theory
- Large Cat Modules

Category Theory must be done before NumberSystems, Algebras, and Combinatorics.

[2022-10-27 21:36] m-lindgren commented on #1576
So here's my initial reaction to this proposal:

There is at least one good reason _not_ to implement this in UniMath:  This proposed change **forces** a point of the UniMath style guide on **every**  project that depends on UniMath. Moreover it does so by introducing a non-default behavior of Coq.

If we want to implement a change that forces something like this on every downstream project, then

[2022-10-27 23:24] nmvdw commented on #1576
The reason to add this check, is because the corresponding guideline in the style guide can be checked purely mechanically, while it will never be checked by any code reviewer. From a recent PR (https://github.com/UniMath/UniMath/pull/1581/files, https://github.com/UniMath/UniMath/pull/1583, https://github.com/UniMath/UniMath/pull/1585), it can be seen that this guideline was broken at several ins

[2022-10-28 00:40] m-lindgren commented on #1576
In my experience it's rarely a good idea to force things, because it removes the ability to deviate when it makes sense. And in particular when it comes to something like this, this is something that can be _incredibly_ annoying depending on your proof development habits.

[2022-10-28 06:37] rmatthes commented on #1576
The line that turns our specific checks off is seen [here](https://github.com/rmatthes/UniMath/blob/issue1576forbifunctors/UniMath/CategoryTheory/Monoidal/DisplayedCartesianMonoidalCategoriesWhiskered.v#L280). The line Niels was referring to shows how to switch back to our style enforcement. Most of the code lines in the ~300 .v files I dealt with that were spotted by this code style enforcement p

[2022-10-28 09:28] nmvdw commented on #1576
Note that there also are some other ways we can implement this change. Currently, all files that **directly** import https://github.com/UniMath/UniMath/blob/master/UniMath/Tactics/EnsureStructuredProofs.v, have to obey this check. However, in the adjusted files, we used `Require Export UniMath.Tactics.EnsureStructuredProofs.`, and as such, all files that import those files, have to obey this pract

[2022-10-28 09:43] benediktahrens opened #1587 "Integrate binary installation instructions for UniMath"
For the School on Univalent Mathematics at Cortona in July 2022, @amato-gianluca and @maggesi (I believe) wrote very good installation instructions for precompiled Coq and UniMath.

These instructions are available at https://docs.google.com/document/d/1KWSugPK-sJ67pL-P4EtoKZ6HMzewmzewLNkR_arXauY/edit#heading=h.omfmjtwseiix

Would it be a good idea to integrate those instructions into the UniMath

[2022-10-28 10:48] nmvdw commented on #1576
Is such an option available? I could not find one.

[2022-10-28 11:31] rmatthes commented on #1576
I did not mean that this option was already proposed by Coq.

[2022-10-28 15:01] DanGrayson commented on #1587
We could just include their file as an alternative.  I don't think we
should tell everyone to install Visual Studio.

I attach the exported text file.

﻿UniMath Installation instructions
Install UniMath on Mac
Install Coq/UniMath and VScode on Mac.

These instructions are for installing and configuring the necessary software for the UniMath School 2022.
Step 1: Install software
Install VScode (Vis

[2022-10-29 15:14] DanGrayson commented on #1577
@rmatthes - does your version of Coq not make the *.glob file along with the *.vo file?  Or did you delete them?

[2022-10-29 17:10] rmatthes commented on #1577
I work on desktop computers at home and in the university since they compile UniMath quicker than affordable laptops. When moving between the two locations, I more and more often carry the generated .vo files with me and inject them on the other computer. So, the reported observation came from such a move. If the .glob files are really needed, I'll have no problem in carrying them around as well f

[2022-10-29 23:15] DanGrayson commented on #1577
Why bother then with "make install"?  Just copy the files manually into the "user-contrib" directory of the Coq you are using.

[2022-10-29 23:18] DanGrayson commented on #1577
There seems to be no way to omit the glob files from the install target in the makefile built for us by Coq.

[2022-11-02 11:57] rmatthes opened #1589 "clarify the generation and use of All.v files"
Triggered by PR #1588 (but could have started through PR #1583), we should have a clear policy about which All.v files to create and when to allow their use not just for the purposes of checking consistency or rapid prototyping but also in developments (incl. the satellite repos).
Currently, there is one All.v per package of UniMath and an All.v at the root. They are auto-generated. There are also

[2022-11-02 12:22] nmvdw commented on #1589
This is actually a very valid question, and I think that we should handcraft more `All.v` files. Why? Well, do we really want this many `Require Import`s in any file: https://github.com/UniMath/UniMath/blob/master/UniMath/Bicategories/OtherStructure/Examples/StructureBicatOfUnivCats.v#L12? A follow-up question would be whether we can find some guidelines about which `All.v`-files to generate.

I a

[2022-11-02 16:13] m-lindgren commented on #1589
There's also the option of still generating the `All.v`-files but having them under version control, like what is done currently for `CONTENTS.md`. I don't know what I prefer. I wouldn't mind if files named `All.v` actually exports _all_ of the stuff in that folder, because I would be confused if they didn't. And in that case it's easier to have them generated.

I agree that It would be good to ha

[2022-11-02 16:35] rmatthes commented on #1589
I agree that another use of `All.v` besides checking consistency and rapid prototyping is searching. So, we should rather ban the use of `All.v` of huge packages than deleting those files from the repo.

[2022-11-02 16:39] rmatthes commented on #1589
Concerning `CONTENTS.md`, this is sometimes irritating enough that it has to be committed so often. Having dozens of such files does not look good for me.

[2022-11-02 19:04] rmatthes commented on #1575
I looked into the [YAML file](https://github.com/UniMath/UniMath/blob/master/.github/workflows/build-libs.yml). It does not mention GrpdHIT in the step description (trivial to add). Why are the satellites not compiled with `make -j2`? Way over 3h running time look extreme. And there are 16kloc of output, mostly with warnings. Is there a way to avoid those warnings? Maybe, at least to assess the ti

[2022-11-03 09:51] benediktahrens commented on #1575
- Instead of editing the step description, it would be better to have separate steps for each compilation.
- `make`ing with several threads would be good, as long as the error messages are still readable (but I think that they would be), that is, that output of different threads is not mixed too much
- I don't know how to suppress the warnings, I am afraid.
- `time` is a great idea!

[2022-11-03 16:37] DanGrayson commented on #1589
If there is a hand-crafted All.v file, then it shouldn't be called All.v, if it doesn't include all the files.  And if it includes all the files, then it might as well be automatically generated.

[2022-11-04 09:24] m-lindgren commented on #1575
I've been experimenting with using dune cache in CI, and I think UniMath can benefit from it. I'll see If I can build the satellites with it as well.

[2022-11-04 15:34] m-lindgren commented on #1575
In #1590 the satellites finish in 15-25 minutes, and in my own tests they finish in about 5min if their dependencies are not changed, i.e. if they have everything cached.

[2022-11-05 12:20] benediktahrens opened #1591 "Error in satellite CIs"
I keep seeing
[code]
e.g., in
https://github.com/UniMath/largecatmodules/actions/runs/3396211054/jobs/5647017543
and
https://github.com/UniMath/TypeTheory/actions/runs/3395828366/jobs/5646192771

It might be a known issue, but I have not kept up with recent developments. Could somebody clarify?

[2022-11-05 12:25] nmvdw commented on #1591
The main line in https://github.com/UniMath/UniMath/blob/master/UniMath/Tactics/EnsureStructuredProofs.v is `Export Set Default Goal Selector "!".`: this requires all subgoals to be focussed. Ralph and I adjusted several subdirectories to adhere to this style, and among those, is PAdics.

In PAdics, there was a lemma (not related to p-adic numbers) that was used in TypeTheory, and as a result, Typ

[2022-11-05 12:56] m-lindgren commented on #1591
I don't think that's the case, because it's UniMath that fails to build -- but only when built in the satellites CI. The satellites themselves never even starts building. This confuses me.

[2022-11-05 12:59] m-lindgren commented on #1591
Or I mean it might be the case, but I'm confused by why it only happens when building UniMath in the satellites CI.

[2022-11-05 13:08] nmvdw commented on #1591
Oh good point. You are right. I had some old PRs in mind (https://github.com/UniMath/UniMath/pull/1582), but the errors in the links are indeed different.

[2022-11-05 16:43] m-lindgren commented on #1591
I think UniMath/TypeTheory#227 fixed it.

I think it was because `make PACKAGES="Foundations ..."`didn't include the `Tactics` package.

[2022-11-05 22:59] rmatthes commented on #1575
Concerning the warnings I mentioned three days ago: compiling `GrpdHITs` according to the instructions produces an enormous number of warnings of the same type that can be suppressed with the simple line `-arg "-w -notation-overridden"` in file `_CoqProject`. Other warnings will still appear (and could be dealt with by easy code changes). I filed a PR.

[2022-11-07 10:35] nmvdw opened #1594 "Errors from CI"
Yesterday, the CI got the following error:
https://github.com/UniMath/UniMath/actions/runs/3404826185/jobs/5662342283
[code]
I get this error on my laptop as well, and the solution was to add `: UU` to some inductive declarations: https://github.com/UniMath/SetHITs/blob/master/code/examples/join_semilattice.v#L26.

So, I did that, and this one managed to pass. Today there's another one:
https://gi

[2022-11-07 10:59] m-lindgren commented on #1594
Interesting. What version of coq are you using? The CI SetHITs is currently using the bundled version which is 8.12-something I think. Should I try to see if a newer version of Coq works better in the CI? Like 8.16.0 or 8.15.2 or something.

It's probably a good idea to upgrade to a modern version anyway, since it seems (for some reason) the makefile stops because the installed dune version is too

[2022-11-07 11:02] nmvdw commented on #1594
I use the version of Coq that comes with UniMath, so 8.12.2 (compiled with OCaml 4.12).

I will try adding `-type-in-type` to SetHITs, and see whether that works.

[2022-11-07 11:59] m-lindgren commented on #1594
Do you know which commit introduced this error? I just tried compiling [c175809](https://github.com/UniMath/SetHITs/commit/c175809c457c367a3a1cd52668c314c236361c2b) with Coq 8.12.2 and without `-type-in-type` and had no problem, except warnings about gradth.

[2022-11-07 12:23] nmvdw commented on #1594
The relevant commit is the latest one. The `gradths` are removed in that one as well.

[2022-11-07 13:11] m-lindgren commented on #1594
Okay, I've finally managed to reproduce the error messages but I had to enable `-type-in-type`. I don't have them when I don't use `-type-in-type`. If I enable that flag I have errors and build failures like this all the way back to July at least.

I think removing `-type-in-type` and applying the changes in UniMath/SetHITs#14 would fix all the issues but I'll try to verify it. I'll fix the CI at

[2022-11-07 20:04] #1594 closed

[2022-11-08 15:08] benediktahrens commented on #1591
Seems fixed - closing this issue.

[2022-11-08 15:08] #1591 closed

[2022-11-15 16:35] rmatthes opened #1597 "investigate if PR #1199 still has valuable contents"
PR #1199 was closed. The purpose of the PR was to give the rather easy but still illuminating proof that the precategory of types has no homsets, hence does not form a category, see in particular [commit 1a3959f5c](https://github.com/UniMath/UniMath/pull/1199/commits/1a3959f5c). I do not recall why the PR was closed and what happened to this development. The result is mentioned in the introductory